/* ======= IE9 Fix ======= */
.ie9 .pricing .item .ribbon,
.ie8 .pricing .item .ribbon {
  top: 0px;
  right: 0px;
  height: 60px;
}
.ie9 .pricing .item .ribbon .text,
.ie8 .pricing .item .ribbon .text {
  position: static;
  font-size: 13px;
  width: auto;
  padding: 5px;
}
.ie9 .pricing .item .ribbon .text:before,
.ie8 .pricing .item .ribbon .text:before,
.ie9 .pricing .item .ribbon .text:after,
.ie8 .pricing .item .ribbon .text:after {
  display: none;
}
/*========= HEADER ==========*/
.header {
  /*--- mobile menu ---*/
}
.header .hamburger {
  display: none;
  padding-top: 10px;
  padding-bottom: 0;
}
.header .hamburger .hamburger-box span,
.header .hamburger .hamburger-box span::before,
.header .hamburger .hamburger-box span::after {
  width: 30px;
  height: 3px;
  background-color: #fff;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.header.header_bg {
  background: #497CB1;
}
.header .logo {
  float: left;
  margin-top: 35px;
}
.header .logo a:hover {
  text-decoration: none;
}
.header .logo-img {
  width: 160px;
  height: 29px;
}
.header.navbar-fixed-top {
  height: 90px;
  background-color: #273240;
}
.header .main-nav {
  margin-top: 23px;
}
.header .main-nav .nav .nav-item a {
  color: #666;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.header .main-nav .nav .nav-item.nav-item-cta a.btn-cta-secondary {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 8px 10px;
  margin-top: 5px;
  font-size: 13px;
}
.header .main-nav .nav .nav-item.nav-item-cta a.btn-cta-secondary:hover {
  background: #497CB1;
}
.header .main-nav .nav .nav-item .dropdown-menu a {
  color: #fff;
}
.header .main-nav .navbar-toggle {
  margin-right: 0;
  margin-top: 0;
  background: none;
  position: absolute;
  right: 0;
  top: 27px;
}
.header .main-nav .navbar-toggle:focus {
  outline: none;
}
.header .main-nav .navbar-toggle .icon-bar {
  background-color: rgba(255, 255, 255, 0.6);
  height: 3px;
}
.header .main-nav .nav .nav-item {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 13px;
  margin-right: 15px;
}
.header .main-nav .nav .nav-item.active {
  color: #497CB1;
}
.header .main-nav .nav .nav-item.active > a {
  color: #497CB1;
  background: none;
  font-weight: bold;
}
.header .main-nav .nav .nav-item a {
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
}
.header .main-nav .nav .nav-item a:hover {
  color: #497CB1;
  background: none;
}
.header .main-nav .nav .nav-item a:focus {
  outline: none;
  background: none;
}
.header .main-nav .nav .nav-item a:active {
  outline: none;
  background: none;
}
.header .main-nav .nav .nav-item.last {
  margin-right: 0;
}
.header .main-nav .nav.active {
  position: relative;
}
.header .main-nav .nav.active > a {
  background: #3a638d;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
}
.header .main-nav .nav.active > a:before {
  content: "\f0d8";
  position: absolute;
  bottom: -8px;
  left: 0;
  text-align: center;
  font-family: FontAwesome;
  display: block;
  font-size: 12px;
  width: 100%;
}
.header .main-nav .nav.active > a.dropdown-toggle:before {
  display: none;
}
.header .main-nav .nav.open a {
  background: none;
}
.header .main-nav .nav .dropdown-menu {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 0;
  border: none;
  text-transform: none;
  min-width: 180px;
  background: #253340;
}
.header .main-nav .nav .dropdown-menu:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #253340;
  position: absolute;
  right: 30px;
  top: -10px;
}
.header .main-nav .nav .dropdown-menu a {
  border-bottom: 1px solid #212e3a;
  padding: 8px 20px;
  color: #fff;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.header .main-nav .nav .dropdown-menu a:hover {
  background: #2e4050;
  color: #fff;
}
/* ======= Base ======= */
body {
  font-family: 'Roboto', arial, sans-serif;
  color: #231F20;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  margin-bottom: 15px;
  line-height: 1.5;
}
a {
  color: #497CB1;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  text-decoration: none !important;
}
a:hover {
  text-decoration: underline;
  color: #3a638d;
}
a:focus {
  text-decoration: none;
}
.btn,
a.btn {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  font-weight: bold;
}
.btn .fa,
a.btn .fa {
  color: #fff;
  margin-right: 5px;
}
a.btn-cta,
.btn-cta {
  padding: 8px 30px;
}
a.btn-cta-primary,
.btn-cta-primary {
  background: #497CB1;
  border: 2px solid #497CB1;
  color: #fff;
  white-space: normal;
}
a.btn-cta-primary:hover,
.btn-cta-primary:hover {
  background: #426f9f;
  border: 2px solid #426f9f;
  color: #fff;
}
a.btn-cta-primary.btn__g,
.btn-cta-primary.btn__g {
  background-color: #5CBC5F;
  border: none;
  -webkit-border-radius: 40%;
          border-radius: 40%;
}
a.btn-cta-primary.btn__p,
.btn-cta-primary.btn__p {
  background-color: #493FB6;
  border: none;
}
a.btn-ghost,
.btn-ghost {
  background: none;
  border: 1px solid #fff;
  color: #fff !important;
  padding: 8px 20px;
  vertical-align: middle;
}
a.btn-ghost:hover,
.btn-ghost:hover {
  background: #4a6781;
  border: 1px solid #4a6781;
  color: #fff;
}
a.btn-ghost .fa,
.btn-ghost .fa {
  margin-right: 10px;
  font-size: 22px;
}
a.btn-ghost .text,
.btn-ghost .text {
  position: relative;
  top: -2px;
}
.highlight {
  color: #497CB1;
}
.form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 40px;
  border-color: #efefef;
}
.form-control::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #a6a6a6;
}
.form-control:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #a6a6a6;
}
.form-control::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #a6a6a6;
}
.form-control:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #a6a6a6;
}
.form-control:focus {
  border-color: #e2e2e2;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.text-highlight {
  color: #1c3045;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
input[type="button"],
textarea,
select {
  -moz-appearance: none;
       appearance: none;
  /* for mobile safari */
  -webkit-appearance: none;
}
textarea.form-control {
  max-width: 100%;
  min-width: 100%;
}
#topcontrol {
  background: #5d80a1;
  color: #fff;
  text-align: center;
  display: inline-block;
  width: 45px;
  height: 45px;
  border: none;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  z-index: 30;
}
#topcontrol:hover {
  background: #384d60;
}
#topcontrol .fa {
  position: relative;
  top: 5px;
  font-size: 30px;
}
/* ======= All pages ======= */
.page-top-bg {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 500px;
}
/*========= FAQ ==========*/
.s-faq {
  display: block;
  margin-top: 40px;
  background: #f5f5f5;
}
.faq {
  padding-top: 60px;
  padding-bottom: 60px;
}
.faq .title {
  font-size: 36px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 60px;
}
.faq .panel {
  background: #fff;
  -webkit-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
}
.faq .panel:hover {
  -webkit-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 1px rgba(0, 0, 0, 0.1);
}
.faq .panel .panel-heading {
  padding: 15px 30px;
}
.faq .panel .panel-body {
  padding: 30px;
  padding-top: 0;
  color: #666;
}
.faq .panel .panel-title {
  font-weight: normal;
  color: #666;
}
.faq .panel .panel-title a {
  text-decoration: none;
}
.faq .panel .panel-title .active {
  color: #497CB1;
}
.faq .panel .panel-title .panel-toggle .fa {
  margin-right: 10px;
  color: #6b96c2;
}
.faq .panel .panel-title:hover .fa {
  color: #497CB1;
}
.faq .contact-lead {
  margin-top: 60px;
  text-align: center;
}
.faq .contact-lead .title {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 15px;
  color: #999;
}
.faq .contact-lead .lead-btn {
  text-decoration: none;
  padding: 8px 30px;
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid #497CB1;
  background-color: #497CB1;
  color: #fff;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  line-height: 1.42857143;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 10px;
  font-size: 18px;
  display: inline-block;
}
.faq .contact-lead .lead-btn:hover {
  background-color: #fff;
  color: #497CB1;
}
/*========= Photos ==========*/
.s-photos {
  display: block;
  padding-top: 60px;
}
.photos {
  position: relative;
  z-index: 10;
}
.photos__inner {
  max-width: 900px;
  margin: 0 auto;
  background: #fff;
  padding: 0 30px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-align: left;
}
.photos__sample {
  padding: 0 30px;
}
.photos__carousel {
  padding-bottom: 60px;
}
.photos__carousel .owl-nav {
  position: relative;
  width: 100%;
  font-size: 30px;
}
.photos__carousel .owl-nav .owl-prev {
  position: absolute;
  -moz-text-align-last: auto;
       text-align-last: auto;
  padding: 10px;
}
.photos__carousel .owl-nav .owl-next {
  position: absolute;
  right: 0;
  padding: 10px;
}
/* ======= Steps ======= */
.steps {
  background: #f5f5f5;
  position: relative;
  padding-bottom: 60px;
}
.steps .title {
  font-size: 36px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 60px;
}
.steps .step {
  padding: 30px 60px;
  color: #666;
}
.steps .step .title {
  text-align: center;
  font-size: 16px;
  margin-bottom: 15px;
}
.steps .step .title .number {
  width: 90px;
  height: 90px;
  display: block;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-align: center;
  background: #497CB1;
  border: 5px solid #6b96c2;
  color: #fff;
  margin: 0 auto;
  padding-top: 25px;
  font-size: 26px;
  font-weight: bold;
  font-family: arial, sans-serif;
  margin-bottom: 30px;
}
.steps .step .title .text {
  color: #6b96c2;
  font-weight: bold;
  font-size: 16px;
}
.steps .btn-cta-primary {
  text-align: center;
  font-size: 20px;
}
/* ======= Pricing ======= */
.s-pricing {
  padding-top: 40px;
  padding-bottom: 40px;
}
.pricing {
  position: relative;
  z-index: 10;
}
.pricing .title {
  font-size: 36px;
  font-weight: 300;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #fff;
}
.pricing .intro {
  color: #fff;
  margin-bottom: 80px;
}
.pricing .item {
  padding: 0;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;
}
.pricing .item.best-buy {
  top: -15px;
  z-index: 11;
  position: relative;
}
.pricing .item.best-buy .item-inner {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.pricing .item.best-buy .item-inner:hover {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
}
.pricing .item.best-buy .heading {
  padding-top: 45px;
}
.pricing .item.best-buy .content {
  padding-bottom: 45px;
}
.pricing .item .item-inner {
  background: #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: relative;
  border: 1px solid #efefef;
}
.pricing .item .item-inner:hover {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.pricing .item .heading {
  margin-top: 0;
  padding: 30px 15px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 4px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.pricing .item .heading .title {
  margin-bottom: 30px;
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 38px;
  border-bottom: 1px dashed #efefef;
  color: #231F20;
}
.pricing .item .heading .title__g {
  color: #5CBC5F;
}
.pricing .item .heading .title__b {
  color: #4778BD;
}
.pricing .item .heading .title__r {
  color: #D64D52;
}
.pricing .item .content {
  padding: 30px 15px;
  padding-top: 0;
  font-size: 14px;
}
.pricing .item .price-figure {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 0 auto;
}
.pricing .item .price-figure .number {
  font-size: 42px;
  font-weight: bold;
}
.pricing .item .price-figure .unit {
  font-weight: 400;
  color: #b3b3b3;
}
.pricing .item .price-figure .currency {
  top: -12px;
  right: 2px;
  position: relative;
  font-family: arial, sans-serif;
  color: #666;
  font-size: 18px;
}
.pricing .item .ribbon {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 110px;
  height: 110px;
  overflow: hidden;
}
.pricing .item .ribbon .text {
  position: relative;
  left: -8px;
  top: 18px;
  width: 158px;
  padding: 10px 10px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #5d80a1;
  -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
  -moz-transform: rotate(45deg) translate3d(0, 0, 0);
  -ms-transform: rotate(45deg) translate3d(0, 0, 0);
  -o-transform: rotate(45deg) translate3d(0, 0, 0);
}
.pricing .item .ribbon .text:before,
.pricing .item .ribbon .text:after {
  content: '';
  position: absolute;
  bottom: -5px;
  border-top: 5px solid #2e4050;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
.pricing .item .ribbon .text:before {
  left: 0;
}
.pricing .item .ribbon .text:after {
  right: 0;
}
.pricing .item .feature-list {
  margin-bottom: 30px;
}
.pricing .item .feature-list li {
  border-bottom: 1px solid #f4f4f4;
  padding: 10px;
}
.pricing .item .feature-list li .fa {
  margin-right: 5px;
  color: #4a6781;
}
.pricing .item .feature-list li.disabled {
  color: #999;
}
.pricing .item .feature-list li.disabled .fa {
  color: #999;
}
/* ======= Contact ======= */
.contact-section {
  padding: 80px 0;
  padding-top: 90px;
  position: relative;
  z-index: 10;
}
.contact-section .title {
  font-size: 36px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 30px;
}
.contact-section .intro {
  margin-bottom: 60px;
}
.contact-section .contact-form {
  margin-left: 15px;
  margin-right: 15px;
}
.contact-section .contact-form .contact-form-inner {
  background: #fff;
  padding: 30px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #efefef;
  -webkit-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
}
.contact-section .contact-form .error {
  color: #497CB1;
  font-family: arial, sans-serif;
  display: block;
  font-size: 14px;
  text-align: left;
  padding-top: 5px;
  padding-left: 5px;
  font-weight: 300;
}
/* ======= Cloud-api ======= */
.plate_sample_images img {
  margin-top: 15px;
}
.api_pricing {
  text-align: center;
  border: 1px solid #c0c0c0;
  color: #777;
  font-size: 22px;
  padding-left: 0;
  margin-bottom: 30px;
}
.api_pricing img {
  display: block;
  margin: auto;
  width: 32px;
}
.api_pricing li:first-child,
.api_pricing li:last-child {
  padding: 20px 13px;
}
.api_pricing li {
  list-style: none;
  padding: 13px;
}
.api_pricing li + li {
  border-top: 1px solid #f0f0f0;
}
.api_pricing big {
  font-size: 32px;
}
.api_pricing h3 {
  margin-bottom: 0;
  font-size: 30px;
}
.api_pricing span {
  font-size: 12px;
  color: #999;
  font-weight: normal;
}
.api_pricing li:nth-last-child(2) {
  padding: 30px 13px;
}
.api_pricing .button {
  width: auto;
  margin: auto;
  font-size: 15px;
  font-weight: bold;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  color: #fff;
  padding: 9px 24px;
  background: #aaa;
  opacity: 1;
  -webkit-transition: opacity .2s ease;
  -o-transition: opacity .2s ease;
  transition: opacity .2s ease;
  border: none;
  outline: none;
}
.api_pricing .button:hover {
  opacity: 0.9;
}
.api_pricing .button:active {
  -webkit-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.p-green big,
.p-green h3 {
  color: #4c7737;
}
.p-green .button {
  background: #4c7737;
  text-decoration: none;
}
.p-yel big,
.p-yel h3 {
  color: #ffbb42;
}
.p-yel .button {
  background: #ffbb42;
}
.p-red big,
.p-red h3 {
  color: #e13c4c;
}
.p-red .button {
  background: #e13c4c;
}
.p-blue big,
.p-blue h3 {
  color: #3f4bb8;
}
.p-blue .button {
  background: #3f4bb8;
}
/* ======= Contact-other section ======= */
.contact-other-section .title {
  font-size: 36px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 30px;
}
.contact-other-section .other-info li {
  margin-bottom: 15px;
  padding: 15px;
  position: relative;
  color: #666;
  text-align: left;
  padding-left: 90px;
  -webkit-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
  border: 1px solid #efefef;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.contact-other-section .other-info li a {
  color: #666;
}
.contact-other-section .other-info li a:hover {
  color: #497CB1;
}
.contact-other-section .other-info li .fa {
  position: absolute;
  left: 0;
  top: 0;
  background: #497CB1;
  color: #fff;
  width: 60px;
  height: 100%;
  font-size: 20px;
  padding-top: 15px;
  text-align: center;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.contact-other-section .other-info li .fa.fa-twitter {
  font-size: 22px;
}
.contact-other-section .other-info li .fa.fa-phone {
  font-size: 22px;
}
.contact-other-section .other-info li .fa.fa-map-marker {
  font-size: 22px;
  padding-top: 45px;
}
/* ======= Footer ======= */
.footer {
  background: #253340;
  color: #fff;
  padding-top: 60px;
  font-size: 14px;
  position: relative;
  z-index: 20;
}
.footer .footer-content {
  padding-bottom: 50px;
}
.footer p {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.footer .footer-col .footer-col-logo {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 40px;
}
.footer .footer-col .footer-col-nvidia {
  margin-top: 25px;
  max-width: 148px;
}
.footer .footer-col.links .fa {
  margin-right: 5px;
}
.footer .footer-col.links li {
  margin-bottom: 10px;
}
.footer .footer-col.connect .social {
  margin-bottom: 15px;
  overflow: hidden;
}
.footer .footer-col.connect .social li {
  margin-right: 10px;
}
.footer .footer-col.connect .social li a .fa {
  color: #b3b3b3;
  font-size: 22px;
}
.footer .footer-col.connect .social li a:hover .fa {
  color: #497CB1;
}
.footer .footer-col.connect .btn-cta-primary {
  background: #5d80a1;
  border-color: #5d80a1;
}
.footer .footer-col.connect .btn-cta-primary:hover {
  background: #4a6781;
  border-color: #4a6781;
}
.footer .footer-col .title {
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 20px;
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
}
.footer .footer-col p {
  color: #fff;
}
.footer .footer-col a {
  color: #6d8dab;
}
.footer .footer-col a:hover {
  color: #8da6bd;
}
.footer .footer-col .navbar-form {
  padding-left: 0;
  padding-right: 0;
}
.footer .footer-col .navbar-form .form-control {
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
}
.footer .footer-col .navbar-form .form-control:focus {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.footer .contact p {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.footer .contact p a {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.footer .contact .fa {
  margin-right: 10px;
  font-size: 20px;
}
.footer .contact .email .fa {
  font-size: 16px;
}
.footer .bottom-bar {
  background-color: #1E1E1E;
  color: #b3b3b3;
  font-size: 14px;
  padding: 10px 0;
}
.footer .bottom-bar .copyright {
  line-height: 1.6;
}
/* ======= Top Color lines ======= */
.accent-colors {
  position: relative;
  top: 0;
  width: 100%;
  height: 5px;
  z-index: 1050;
}
.accent-colors__color-1 {
  vertical-align: top;
  display: inline-block;
  width: 25%;
  height: 5px;
  background-color: #D64D52;
}
.accent-colors__color-2 {
  vertical-align: top;
  margin-left: -4px;
  display: inline-block;
  content: '';
  width: 25%;
  height: 5px;
  background-color: #4778BD;
}
.accent-colors__color-3 {
  vertical-align: top;
  margin-left: -4px;
  display: inline-block;
  content: '';
  width: 25%;
  height: 5px;
  background-color: #5CBC5F;
}
.accent-colors__color-4 {
  vertical-align: top;
  margin-left: -4px;
  display: inline-block;
  content: '';
  width: 25%;
  height: 5px;
  background-color: #985827;
}
/*======= Override bootstrap default =======*/
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background: none;
}
/* ======= Promo ======= */
.promo {
  padding-top: 100px;
  position: relative;
  color: #fff;
  margin-bottom: 0px;
  height: 620px;
}
.promo .title {
  font-size: 70px;
  margin-bottom: 70px;
  margin-top: 0;
  font-weight: 900;
}
.promo .intro {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 30px;
}
.promo .btn-main {
  padding: 15px 15px;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  background-color: #5CBC5F;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  text-decoration: none;
}
.promo .btn-main:hover {
  text-decoration: none;
}
/*----- Hero Area -----*/
.video-container {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: 100%;
  max-height: 710px;
  overflow: hidden;
  background-color: #0D121A;
}
.video-container video {
  min-width: 100%;
  width: 100%;
  height: auto;
  min-height: 380px !important;
}
.video-container .overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.video-container .overlay-b {
  background: #4778BD;
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
}
.video-container .overlay-r {
  background: #D64D52;
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
}
.video-container .overlay-g {
  background: #5CBC5F;
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
}
.video-container .overlay-br {
  background: #985827;
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
}
.video-container .overlay-gr {
  background: #6E7071;
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
}
.products-list {
  position: absolute;
  padding: 0;
  display: inline-block;
  list-style-type: none;
  width: 100%;
  bottom: 0;
  margin: 0;
}
.products-list__img {
  display: block;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  padding-top: 25px;
}
.products-list__product {
  display: inline-block;
  width: 25%;
  margin-right: -4px;
  height: auto;
}
.products-list__product_1 {
  background-color: rgba(214, 77, 82, 0.9);
}
.products-list__product_1:hover {
  background-color: #d64d52;
}
.products-list__product_2 {
  background-color: rgba(71, 120, 189, 0.9);
}
.products-list__product_2:hover {
  background-color: #4778bd;
}
.products-list__product_3 {
  background-color: rgba(92, 188, 95, 0.9);
}
.products-list__product_3:hover {
  background-color: #5cbc5f;
}
.products-list__product_4 {
  background-color: rgba(152, 88, 39, 0.9);
}
.products-list__product_4:hover {
  background-color: #985827;
}
.products-list__text-1 {
  font-family: 'Roboto Slab', serif;
  font-weight: normal;
  text-align: center;
  font-size: 28px;
  margin: 0;
  color: #fff;
  line-height: 1.1;
  padding-top: 10px;
}
.products-list__text-2 {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  margin: 0;
  padding-bottom: 35px;
  text-align: center;
  font-size: 28px;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.3;
}
/*----Content----*/
.content-video {
  margin-top: 60px;
}
.content-video .row {
  border-bottom: 1px solid #DCDDDE;
  padding-bottom: 70px;
}
.content-video-text {
  font-size: 29px;
  color: #231F20;
  width: 370px;
  margin: 0 auto;
  margin-top: 100px;
}
.content-video-text strong {
  font-weight: 900;
  color: #D64D52;
}
.content-slider {
  margin-top: 60px;
}
.content-slider .row {
  border-bottom: 1px solid #DCDDDE;
  padding-bottom: 70px;
}
.content-slider-text {
  font-size: 29px;
  color: #231F20;
  margin-top: 50px;
}
.content-slider-text strong {
  font-weight: 900;
  color: #4778BD;
}
.content-advantages {
  margin-top: 60px;
}
.content-advantages .adcantage-right {
  height: 230px;
  border: 2px solid #985827;
}
.content-advantages .adcantage-right-text {
  text-align: center;
  font-size: 27px;
  padding: 30px;
  padding-top: 55px;
}
.content-advantages .adcantage-right-text strong {
  font-weight: 900;
  color: #985827;
}
.content-advantages .adcantage-left {
  height: 230px;
  border: 2px solid #5CBC5F;
}
.content-advantages .adcantage-left-text {
  text-align: center;
  font-size: 27px;
  padding: 30px;
}
.content-advantages .adcantage-left-text strong {
  font-weight: 900;
  color: #5CBC5F;
}
.content-help {
  margin-top: 70px;
}
.content-help .container {
  padding-bottom: 30px;
  background-color: #f5f5f5;
}
.content-help .help-title {
  line-height: 1.3;
  font-weight: 200;
  text-align: center;
  font-size: 38px;
  color: #4778BD;
}
.content-help .help-subtitle {
  line-height: 1.1;
  ont-weight: 200;
  text-align: center;
  font-size: 36px;
  color: #231F20;
}
.content-help .help-subtitle strong {
  font-weight: bold;
}
.content-help .options {
  list-style-type: none;
  padding: 0;
  vertical-align: middle;
}
.content-help .options .option {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  margin-right: -4px;
}
.content-help .options .option img {
  padding-top: 30px;
  display: block;
  width: 120px;
  height: 120px;
  margin: 0 auto;
}
.content-help .options .option p {
  padding-top: 20px;
  text-align: center;
  font-size: 27px;
  color: #6E7071;
  line-height: 1.1;
}
.content-stream__help {
  background-color: #f5f5f5;
  margin-top: 0;
}
.content-stream__help .container {
  background-color: #f5f5f5;
  padding-bottom: 100px;
}
.content-start {
  position: relative;
  text-align: center;
  background-image: url('../images/banner.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
          background-size: cover;
  margin-top: 70px;
}
.content-start:before {
  content: '';
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}
.content-start .start-title {
  position: relative;
  font-size: 48px;
  text-align: center;
  color: #fff;
  margin: 0;
  padding-top: 80px;
  padding-bottom: 40px;
  z-index: 10;
}
.content-start .btn-bottom {
  position: relative;
  padding: 15px 15px;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  background-color: #5CBC5F;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  text-decoration: none;
}
.content-start .btn-bottom:hover {
  text-decoration: none;
}
.content-start p {
  position: relative;
  margin-top: 20px;
  font-size: 17px;
  font-weight: 200;
  color: #fff;
}
.content-start p strong {
  font-weight: bold;
}
.content-start .feedback-carousel {
  position: relative;
  padding-top: 60px;
  padding-bottom: 50px;
  max-width: 50%;
  margin: 0 auto;
}
.content-start .feedback-carousel .feedback {
  font-size: 32px;
  font-weight: 200;
  margin: 0 30px;
}
.content-start .feedback-carousel .name {
  font-size: 22px;
  font-weight: 200;
}
.content-start .feedback-carousel .owl-nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  font-size: 30px;
  color: #4778BD;
}
.content-start .feedback-carousel .owl-nav .owl-prev {
  position: absolute;
  left: -70px;
  padding: 10px;
}
.content-start .feedback-carousel .owl-nav .owl-next {
  position: absolute;
  right: -70px;
  padding: 10px;
}
.content-start .overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}
/*----Home page video-----*/
.home-video {
  max-width: 800px;
  margin: 0 auto;
}
.home-video__frame {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: none;
}
/*----Home page carousel-----*/
.laptop {
  position: relative;
  text-align: center;
}
.laptop .alpr-carousel {
  position: absolute;
  left: 0;
  top: 0;
}
.laptop .alpr-carousel .owl-stage-outer {
  width: 404px;
  margin: 0 auto;
}
.laptop .alpr-carousel .owl-item img {
  display: block;
  width: 404px;
  height: auto;
  margin-top: 3.2%;
  margin-left: 0 !important;
}
.laptop .alpr-carousel .owl-nav {
  position: absolute;
  left: 10px;
  right: 15px;
  top: 45%;
  font-size: 30px;
}
.laptop .alpr-carousel .owl-nav .owl-prev {
  position: absolute;
  left: 0;
  padding: 10px;
}
.laptop .alpr-carousel .owl-nav .owl-next {
  position: absolute;
  right: 0;
  padding: 10px;
}
.laptop .figure-caption {
  color: #b3b3b3;
  font-size: 13px;
  margin-top: 10px;
  text-align: center;
}
.laptop .figure-caption a {
  color: #b3b3b3;
}
.laptop .figure-caption a:hover {
  color: #497CB1;
}
.laptop img {
  margin-left: auto;
  margin-right: auto;
}
/*----Pages Headline----*/
.page-head {
  text-align: center;
  margin-top: 100px;
  position: relative;
  z-index: 10;
}
.page-head__image {
  width: 75px;
  height: 75px;
}
.page-head__nvidia {
  width: 190px;
  height: 37px;
  margin-bottom: 20px;
}
.page-head__title {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 0;
  color: #fff;
}
.page-head__subtitle {
  font-size: 24px;
  max-width: normal;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
/*---Clous stream video---*/
.s-cloud-video {
  display: block;
}
.cloud-video {
  max-width: 1000px;
  margin: 0 auto;
}
.cloud-video__frame {
  background: #f8f8f8;
  padding: 15px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: none;
}
/*---Top Image---*/
.s-top-img {
  display: block;
}
.top-img {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 4%;
}
.top-img__image {
  width: 100%;
  height: auto;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
/*---Pages text section---*/
.section-1 {
  position: relative;
  z-index: 10;
}
.section-1__inner {
  max-width: 1000px;
  margin: 0 auto;
  background: #fff;
  padding: 0 30px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-align: left;
}
.section-1__title {
  font-size: 39px;
  font-weight: bold;
  padding-top: 60px;
  margin: 0;
  margin-bottom: 10px;
  line-height: 1.3;
}
.section-1__subtitle {
  font-size: 26px;
  font-weight: 200;
  color: #4778BD;
  margin-top: 0;
}
.section-1__text {
  font-size: 26px;
  font-weight: 200;
  padding-top: 25px;
  margin-top: 25px;
}
.section-1__text__italic {
  position: relative;
  font-style: italic;
  font-size: 24px;
  color: #636466;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 40px;
}
.section-1__c-table {
  margin-top: 30px;
  margin-bottom: 50px;
}
.section-1__countries {
  list-style-type: none;
  padding: 0px;
  margin: 0;
}
.section-1__countries li {
  padding-right: 50px;
  padding: 0;
}
/*---Features---*/
.features {
  margin: 0;
  margin: 10px 0;
  text-align: center;
  /*--- NVIDIDA page futures ---*/
}
.features__unit {
  text-align: center;
  min-height: 0px;
  margin-bottom: 0px;
}
.features__icon {
  padding-top: 45px;
  font-size: 70px;
}
.features__icon--accent-b {
  color: #4778BD;
}
.features__icon--accent-r {
  color: #D64D52;
}
.features__icon--accent-g {
  color: #5CBC5F;
}
.features__icon--accent-br {
  color: #985827;
}
.features__title {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.1;
  text-transform: uppercase;
}
.features__content {
  text-align: center;
  list-style-type: none;
  padding: 0 0px;
  margin: 0;
}
.features__inside {
  margin-top: 5px;
  font-size: 18px;
  color: #253340;
  line-height: 1.3;
}
.features__small-row {
  margin-right: 160px;
  margin-left: 160px;
  border-bottom: 1px solid #eaeaea;
}
.features__icons-row {
  margin-right: 160px;
  margin-left: 160px;
  margin-top: 50px;
  margin-bottom: 0px;
}
.features-nvidia .features__unit {
  text-align: left;
}
.features-nvidia .features__icon {
  display: inline-block;
  width: 13%;
  vertical-align: middle;
}
.features-nvidia .features__content {
  display: inline-block;
  width: 85%;
  vertical-align: middle;
  padding-top: 45px;
  padding-left: 20px;
  text-align: left;
}
.features-nvidia .features__inside {
  font-size: 26px;
  font-weight: 200;
}
.get-started__item {
  text-align: center;
  border: 2px solid #4778BD;
  margin-top: 20px;
}
.get-started__number {
  font-size: 120px;
  font-weight: 200;
  color: #4778BD;
  margin-bottom: 0;
  margin-top: 50px;
}
.get-started__title {
  font-size: 27px;
  font-weight: bold;
  color: #4778BD;
  margin-bottom: 0;
  margin-top: 40px;
}
.get-started__text {
  font-size: 27px;
  font-weight: normal;
  color: #000;
  margin: 0 10px;
  margin-bottom: 50px;
  margin-top: 50px;
}
.get-started__btn {
  display: block;
  font-size: 30px;
  color: #fff;
  background-color: #4778BD;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font-weight: 800;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 35px;
  text-decoration: none;
}
.get-started__btn:hover {
  text-decoration: none;
  color: #fff;
}
.price-button {
  width: auto;
  margin: auto;
  font-size: 18px;
  font-weight: bold;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  color: #fff;
  padding: 9px 30px;
  background: #aaa;
  opacity: 1;
  -webkit-transition: opacity .2s ease;
  -o-transition: opacity .2s ease;
  transition: opacity .2s ease;
  border: none;
  outline: none;
}
.price-button__g {
  background-color: #5CBC5F;
}
.price-button__b {
  background-color: #4778BD;
}
.price-button__r {
  background-color: #D64D52;
}
.price-button:hover {
  text-decoration: none;
}
.s-demo-acc .section-1__title,
.s-demo-acc .section-1__subtitle,
.s-demo-acc .section-1__text {
  text-align: center;
  padding-top: 0;
}
.s-demo-acc .section-1__account {
  width: 560px;
  margin: 0 auto;
  list-style-type: none;
  border: 1px solid #4778BD;
  padding: 0;
}
.s-demo-acc .section-1__acc-item {
  width: 50%;
  display: inline-block;
  margin-right: -4px;
  text-align: center;
  padding: 3px;
  font-size: 27px;
  font-weight: bold;
  border-right: 1px solid #4778BD;
}
.s-demo-acc .section-1__acc-item:last-child {
  border: none;
}
.s-demo-acc .section-1__acc-item .top {
  background-color: #4778BD;
  color: #fff;
  padding: 15px 0;
}
.s-demo-acc .section-1__acc-item .bottom {
  color: #000;
  background-color: #fff;
  padding: 15px 0;
}
.section-1 .accented {
  margin-top: 40px;
  border: 1px solid #D64D52;
  text-align: center;
  padding: 40px;
}
.section-1 .accented .section-1__title {
  padding-top: 0;
  margin: 0;
}
.section-1 .accented .section-1__text {
  padding-top: 30px;
  padding-bottom: 50px;
  margin: 0;
}
.section-1 .accented .btn-bottom {
  position: relative;
  padding: 10px 20px;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  background-color: #5CBC5F;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  text-decoration: none;
}
.section-1 .accented .btn-bottom:hover {
  text-decoration: none;
}
.section-1 .accented-br {
  border: 1px solid #985827;
  margin-top: 90px;
}
.nvidia-table {
  font-size: 21px;
  padding-bottom: 30px;
  padding-top: 30px;
}
.nvidia-metropolis-banner {
  width: 100%;
}
.nvidia-metropolis-banner .nvidia-banner-img {
  width: 100%;
  height: auto;
}
