/* Large devices (large desktops, less than 1200px) */
@media only screen and (max-width: 1200px) {
  .demo_initial_container {
    height: 500px;
  }
  .features__small-row {
    margin-right: 60px;
    margin-left: 60px;
  }
  .features__icons-row {
    margin-right: 0px;
    margin-left: 0px;
  }
  .why .figure .alpr-carousel .owl-stage-outer {
    width: 349px;
    margin: 0 auto;
  }
  .why .figure .alpr-carousel img {
    display: block;
    width: 349px;
    height: auto;
    margin-top: 3.2%;
    margin-left: 2px;
    margin-right: auto;
  }
}
/* Medium devices (desktops, less than 992px) */
@media only screen and (max-width: 992px) {
  .features__small-row {
    margin-right: 60px;
    margin-left: 60px;
  }
  .features__icons-row {
    margin-right: 0px;
    margin-left: 0px;
  }
  .why .figure .alpr-carousel .owl-nav {
    left: 40px;
    right: 45px;
    font-size: 50px;
  }
  .why .figure .alpr-carousel .owl-stage-outer {
    width: 400px;
    margin: 0 auto;
  }
  .why .figure .alpr-carousel img {
    display: block;
    width: 400px;
    height: auto;
    margin-top: 3.2%;
    margin-left: 2px;
  }
  .config-wrapper {
    display: block;
  }
  .header {
    height: 80px;
  }
  .main-nav {
    float: right !important;
  }
  .navbar-form .form-control {
    width: 280px;
  }
  .header .main-nav .nav .nav-item {
    margin-right: 15px;
  }
  .main-nav.navbar-right {
    float: right !important;
  }
  .promo {
    height: 620px;
  }
  .promo.section .intro {
    margin-bottom: 45px;
  }
  .promo .btn-link {
    margin-top: 15px;
  }
  .why .item .content {
    margin-bottom: 60px;
  }
  .why .control {
    top: 128px;
    margin-left: -28px;
  }
  .modal.modal-video .modal-dialog {
    width: 760px;
    padding-left: 0;
    padding-right: 0;
  }
  .access-page .navbar-collapse.collapse .navbar-nav {
    display: none;
  }
  .access-section .divider {
    text-align: center;
    margin-bottom: 30px;
    color: #999;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
  }
  .access-section .divider span {
    background: #fff;
    display: inline-block;
    padding: 10px 0;
    position: relative;
    top: 80px;
    margin-left: -10px;
  }
  .access-section .divider:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: #e5e5e5;
    height: 100%;
    width: 1px;
  }
  .access-section .social-btns {
    padding-left: 65px;
  }
  .access-section .social-btns .note {
    text-align: left;
  }
  .blog-slider {
    margin-top: 80px;
  }
  .why .item .title {
    margin-bottom: 15px;
    text-align: left;
  }
  .why .figure {
    text-align: left;
  }
  .blog-page .blog-category,
  .blog-page .blog-archive {
    margin-top: 80px;
  }
  .blog-entry-wrapper {
    margin-top: 80px;
  }
  /* Only show QR code for desktop */
  .download-area {
    overflow: hidden;
  }
  .download-area .download-list {
    float: left;
  }
  .download-area .qrcode-holder {
    float: left;
    margin-left: 45px;
    text-align: center;
  }
  .download-area .qrcode-holder .qrcode {
    max-width: 140px;
    margin: 0 auto;
  }
  .download-area .qrcode-holder .qrcode .caption {
    font-size: 12px;
    background: #fff;
    padding: 0 15px;
    padding-bottom: 15px;
    color: #253340;
    font-family: arial, sans-serif;
  }
  .navbar-fixed-top .navbar-collapse {
    padding-left: 15px;
    padding-right: 15px;
  }
}
/* Small devices (tablets, less than 767px) */
@media only screen and (max-width: 767px) {
  .section-1__inner {
    min-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 0;
    margin-right: 0;
  }
  .section-1__about {
    padding-left: 0;
    padding-right: 0;
  }
  .form-control.upload_type {
    display: inline-block;
    width: auto;
  }
  #cloud_api_demo .demo_preview_img_container {
    height: 400px !important;
  }
  #cloud_api_demo .demo_form_controls .radio {
    margin-top: 0;
    margin-bottom: 0;
  }
  #cloud_api_demo .demo_form_controls .radio input[type=radio] {
    position: relative;
    margin-left: 4px;
  }
  #cloud_api_demo .demo_initial_overlay {
    font-size: 20px !important;
  }
  .header .hamburger {
    display: block;
  }
  .photos__sample,
  .photos__inner {
    padding: 0;
  }
  .why .figure .alpr-carousel .owl-nav {
    left: 20px;
    right: 25px;
    font-size: 40px;
  }
  .why .figure .alpr-carousel img {
    display: block;
    width: 403px;
    height: auto;
    margin-top: 2.5%;
    margin-left: 1px;
    margin-right: auto;
  }
  .nvidia {
    margin: 0;
    margin-bottom: 30px;
  }
  .nvidia__logo {
    display: block;
    float: none;
    margin: auto;
  }
  .nvidia__box p {
    display: block;
    margin: 0;
    text-align: center;
    padding-top: 30px;
  }
  .nvidia__box {
    height: 170px;
  }
  .config-wrapper {
    display: none;
  }
  .header {
    height: inherit;
  }
  .blog-slider {
    margin-top: 0;
  }
  .blog {
    margin-top: 0;
  }
  .header .main-nav .nav .nav-item {
    margin-right: 10px;
  }
  .main-nav.navbar-right {
    float: none !important;
  }
  .blog-page .main-nav.navbar-right {
    float: right !important;
  }
  .navbar-collapse.collapse .navbar-nav {
    float: none;
    margin: 0 auto;
    display: inline-block;
  }
  .blog-page .header h1.logo {
    margin: inherit;
  }
  .promo {
    height: 520px;
    padding-top: 150px;
  }
  .promo.section .intro {
    margin-bottom: 30px;
  }
  .promo .btn-link {
    margin-top: 15px;
  }
  .why .item .content {
    margin-bottom: 60px;
  }
  .why .control {
    top: 128px;
    margin-left: -45px;
  }
  .why .item .title {
    margin-bottom: 30px;
    text-align: center;
  }
  .apps-section .phone-holder {
    -webkit-background-size: 280px auto;
    background-size: 280px auto;
  }
  .apps-section .phone-holder .screenshot {
    width: 242px;
    top: 66px;
  }
  .footer-col {
    margin-bottom: 30px;
  }
  .modal.modal-video .modal-dialog {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .access-page .navbar-collapse.collapse .navbar-nav {
    display: none;
  }
}
/* Extra small devices (phones, less than <768px) */
@media only screen and (max-width: 767px) {
  .header.navbar-fixed-top h1 {
    margin: 0;
  }
  .header.navbar-fixed-top .logo-img {
    width: 160px;
    height: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
  }
  .header.navbar-fixed-top .main-nav {
    margin: 0;
  }
  .header.navbar-fixed-top .main-nav .nav {
    width: 100%;
  }
  .header.navbar-fixed-top .main-nav .nav .nav-item > a {
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
  }
  .header.navbar-fixed-top .main-nav .nav .nav-item.active > a {
    color: #497CB1;
    font-weight: bold;
  }
  .header.navbar-fixed-top .main-nav .nav .nav-item.nav-item-cta {
    width: 100% !important;
  }
  .header.navbar-fixed-top .main-nav .nav .nav-item.nav-item-cta a.btn-cta-secondary {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 8px 10px;
    margin-top: 5px;
    font-size: 15px;
    text-align: center;
  }
  .header.navbar-fixed-top .main-nav .nav .nav-item.nav-item-cta a.btn-cta-secondary:hover {
    background: #497CB1;
  }
  .header.navbar-fixed-top.navbar-scrolled .hamburger-box span,
  .header.navbar-fixed-top.navbar-scrolled .hamburger-box span::before,
  .header.navbar-fixed-top.navbar-scrolled .hamburger-box span::after {
    background-color: #253340;
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    opacity: 0.8;
  }
  .header.navbar-fixed-top.navbar-scrolled .main-nav {
    margin: 0;
  }
  .header.navbar-fixed-top.navbar-scrolled .main-nav .nav .nav-item.active > a {
    color: #497CB1;
    font-weight: bold;
  }
  .navbar-collapse {
    position: fixed;
    border-top: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%;
    left: 0;
    position: absolute;
    background: #253340;
    z-index: -1;
  }
  .navbar-collapse .nav {
    margin: 0;
  }
  .navbar-collapse .nav .nav-item {
    color: #fff;
  }
  .footer-col-inner {
    padding-left: 30px;
    padding-bottom: 0px;
  }
  .contact {
    padding-left: 40px;
  }
  .contact .footer-col-inner {
    padding-left: 0;
    padding-bottom: 0px;
  }
  .config-wrapper {
    display: none;
  }
  #topcontrol {
    display: none !important;
  }
  .header h1.logo {
    float: none;
    text-align: center;
  }
  .header h1.logo a {
    margin: 0 auto;
  }
  .header .main-nav .nav .dropdown-menu:before {
    display: none;
  }
  .navbar-fixed-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    max-height: inherit;
  }
  .has-full-screen-bg.access-page .upper-wrapper {
    background: #384d60;
  }
  .access-section {
    padding-top: 15px;
  }
  .pricing .intro {
    margin-bottom: 45px;
  }
  .features-video iframe {
    padding: 5px;
  }
  .features-tabbed {
    padding-top: 160px;
  }
  .access-section {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 60px;
  }
  .signup-page .form-box .intro {
    margin-bottom: 45px;
  }
  .login-page .form-box .title {
    margin-bottom: 45px;
  }
  .section .title {
    font-size: 32px;
  }
  .section .intro {
    font-size: 16px;
  }
  .promo {
    height: 460px;
    padding-top: 150px;
  }
  .why .item .content {
    margin-bottom: 60px;
  }
  .why .control {
    top: 58px;
    margin-left: -30px;
  }
  .why .item .title {
    margin-bottom: 30px;
    text-align: center;
  }
  .testimonials .item .profile {
    position: static;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
  }
  .testimonials .item .content {
    padding-left: 60px;
  }
  .testimonials .item blockquote {
    font-size: 18px;
  }
  .pricing .item.best-buy {
    position: static;
    z-index: inherit;
  }
  .nav-tabs > li > a {
    padding: 10px 5px;
  }
  .apps-section .phone-holder {
    -webkit-background-size: 280px auto;
    background-size: 280px auto;
  }
  .apps-section .phone-holder .screenshot {
    width: 242px;
    top: 66px;
  }
  .searchbox-container .searchbox {
    width: 100%;
    top: inherit;
    float: none;
    margin-bottom: 30px;
  }
  .searchbox-icon {
    display: none;
  }
  .searchbox-icon,
  .searchbox-submit {
    background: #497CB1;
    color: #fff;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .searchbox-icon:hover,
  .searchbox-submit:hover {
    color: #fff;
  }
  .main-nav .navbar-collapse .navbar-nav {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .blog-page .header h1.logo {
    margin: inherit;
  }
  .blog-page .header .main-nav .navbar-toggle {
    margin-bottom: 0;
    top: 20px;
  }
  .blog-page .header .main-nav .navbar-toggle .icon-bar {
    background-color: #384d60;
  }
  .blog-page .header .main-nav .navbar-toggle:hover .icon-bar {
    background-color: #253340;
  }
  .blog-page .flexslider {
    margin-top: 0;
  }
  .blog-category {
    margin-top: 0;
  }
  .blog-page .navbar-collapse {
    top: 80px;
  }
  .blog-page .main-nav .nav .nav-item a {
    color: #fff;
  }
  .blog-slider .flex-caption .title {
    font-size: 36px;
  }
  .searchbox-container .searchbox .searchbox-input {
    position: static;
  }
  .footer .footer-col .navbar-form {
    padding-left: 15px;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .footer .footer-col .navbar-form .form-control {
    display: inline-block;
  }
  .modal.modal-video .modal-dialog {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .download-page .headline-bg {
    height: 1600px;
  }
  .story-section .about {
    padding: 0;
  }
  .story-section .belife {
    margin-left: 0;
    margin-right: 0;
  }
  .story-section .team {
    padding: 0;
  }
}
/* Extra small devices (phones, less than <572px) */
@media only screen and (max-width: 572px) {
  #cloud_api_demo .demo_preview_img_container {
    height: 300px !important;
  }
  #cloud_api_demo .demo_preview_img_container .demo_initial_overlay {
    font-size: 16px !important;
    padding-top: 100px;
  }
  .features__header {
    text-align: center;
  }
  .features__small-row {
    margin-right: 40px;
    margin-left: 40px;
  }
  .features__icons-row {
    margin-right: 0px;
    margin-left: 0px;
  }
  .img-mack {
    width: 400px;
    height: auto;
  }
  .why .figure .alpr-carousel .owl-stage-outer {
    width: 303px;
  }
  .why .figure .alpr-carousel img {
    display: block;
    width: 303px;
    height: auto;
    margin-top: 2.5%;
    margin-left: 1px;
    margin-right: auto;
  }
}
/* Extra small devices (phones, less than 442px) */
@media only screen and (max-width: 442px) {
  #cloud_api_demo .demo_preview_img_container {
    height: 200px !important;
  }
  #cloud_api_demo .demo_preview_img_container .demo_initial_overlay {
    font-size: 14px !important;
    padding-top: 60px;
  }
  .img-mack {
    width: 350px;
    height: auto;
  }
  .why .figure .alpr-carousel .owl-stage-outer {
    width: 270px;
  }
  .why .figure .alpr-carousel img {
    display: block;
    width: 270px;
    height: auto;
    margin-top: 2.5%;
    margin-left: 1px;
    margin-right: auto;
  }
  .nvidia__logo {
    width: 170px;
  }
  .nvidia__box p {
    font-size: 40px;
  }
}
/* Extra small devices (phones, less than 404px) */
@media only screen and (max-width: 404px) {
  .img-mack {
    width: 250px;
    height: auto;
  }
  .why .figure .alpr-carousel .owl-stage-outer {
    width: 188px;
  }
  .why .figure .alpr-carousel img {
    display: block;
    width: 188px;
    height: auto;
    margin-top: 2.5%;
    margin-left: 1px;
    margin-right: auto;
  }
  .steps .btn-cta-primary {
    font-size: 15px;
  }
}
