$main-font: 'Open Sans', sans-serif;
$c-grey: #34383c;
$c-white:  #f1f1f1;
$c-transp: rgba(255, 255, 255, 0);
$c-white-dr: #f0f0f0;
$c-blue:  #216cd2;
$c-grey-lt: #70787f;
$c-white-pure: #fff;
$c-green: #32d374;

