@font-face {
	font-family: 'BlackHanSans';
	src: url('../fonts/mainfonts/BlackHanSans-Regular.ttf');
	src: url('../fonts/mainfonts/BlackHanSans-Regular.eot');
	src: url('../fonts/mainfonts/BlackHanSans-Regular.wofff');
	src: url('../fonts/mainfonts/BlackHanSans-Regular.otf');
	font-weight: 400;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@font-face {
	font-family: 'CircularStd';
	src: url('../fonts/mainfonts/CircularStd-Book.eot');
	src: url('../fonts/mainfonts/CircularStd-Book.ttf');
	src: url('../fonts/mainfonts/CircularStd-Book.woff');
	src: url('../fonts/mainfonts/CircularStd-Book.otf');
	font-weight: 400;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@font-face {
	font-family: 'CircularStd';
	src: url('../fonts/mainfonts/CircularStd-Bold.eot');
	src: url('../fonts/mainfonts/CircularStd-Bold.ttf');
	src: url('../fonts/mainfonts/CircularStd-Bold.woff');
	src: url('../fonts/mainfonts/CircularStd-Bold.otf');
	font-weight: 600;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}