html{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
body{
	background-color: #fff;
}
a {
	text-decoration: none;
	color: #04a1d4;
}
a:hover {
	text-decoration: none;
	
}
ul{
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
}

/*
.mSlider{
	width: 100%;
	margin-top: 115px;
	padding-top: 10%;
	padding-bottom: 9%;
	padding-right: 30px;
	padding-left: 30px;
	position: relative;
	background:
		linear-gradient(
      rgba(0, 0, 0, 0.66), 
      rgba(0, 0, 0, 0.66)
    ),
		url(../images/slide-1-low.jpg);
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
*/
.mSlider{
	width: 100%;
	margin-top: 115px;
	padding-top: 10%;
	padding-bottom: 9%;
	padding-right: 30px;
	padding-left: 30px;
	position: relative;
}
.w3-animate-opacity {
	animation: opac 1.2s
}

.headSlides{
	position: relative;
	text-align: center;
	z-index: 10;
	font-weight: normal;
	max-width: 866px;
	margin: 0 auto;
	padding-top: 50px;
}
.headSlides .h1{
	font-size: 40px;
	line-height: 1.5;
	color: #fff;
}

.h1 span{
	color: #e9a700;
	font-weight: bold;
}
.headSlides p{
	color: #fff;
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 72px;
	position: relative;
}
.headSlides p:after{
	content: '';
	position: absolute;
	width: 19px;
	height: 3px;
	background-color: #00afe8;
	bottom: -30px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.slideButton{
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	padding: 13px 54px;
	background-color: #e9a700;
	border-radius: 24px;
}

.slider-bg{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	z-index: 1;
}
.slider-bg.slider-bg-1{background-image: url('../images/slide-1.jpg');}
.slider-bg.slider-bg-2{background-image: url('../images/slide-2.jpg');}
.slider-bg.slider-bg-3{background-image: url('../images/slide-3.jpg');}
.slider-bg:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .66);
  z-index: 1;
}

.s-reason1{
	padding: 0 30px;
	padding-top: 70px;
	
}
.pre-info{
	text-align: center;
	position: relative;
	margin-bottom: 75px;
}
.pre-info p{
	font-size: 16px;
	color: #727272;
	margin-bottom: 0;
}
.pre-info .h5{
	font-size: 23px;
	font-style: italic;
	font-weight: bold;
	margin-top: 7px;
	margin-bottom: 0;
	color: #000;
}
.pre-info:after{
	content: '';
	position: absolute;
	width: 100%;
	max-width: 420px;
	height: 1px;
	background-color: #000;
	bottom: -41px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.s-reason1--title{
	text-align: center;
	position: relative;
}
.s-reason1--title p{
	font-size: 16px;
	color: #727272;
	font-weight: normal;
	margin-bottom: 0;
}
.s-reason1--title h4{
	font-size: 30px;
	color: #00afe8;
	font-weight: bold;
}
.s-reason1--title h4:after{
	content: '';
	position: absolute;
	width: 25px;
	height: 3px;
	background-color: #00afe8;
	bottom: -38px;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.reason-t1{
	margin-top: 87px;
	margin-bottom: 90px;
}
.reason-t1 .reason-img{
	max-width: 633px;
}
.reason-img{
	display: block;
	width: 100%;
/*	max-width: 800px;*/
	height: 100%;
	margin-right: 0;
	margin-left: auto;
}
.reason-t1 .reason-text{
	max-width: 482px;
}
.reason-text{
	max-width: 572px;
	margin-left: 85px;
	margin-top: 38px;
	margin-right: auto;
	padding-bottom: 50px;
}
.reason-text .h3{
	font-size: 25px;
	color: #000;
	font-weight: normal;
	margin-bottom: 20px;
}
.reason-text .h3 span, .reason-text p span{
	font-weight: bold;
}
.reason-text p{
	font-size: 14px;
	line-height: 1.8;
}
.reason-text.bottom-text .price{
	font-size: 20px;
	text-align: center;
	margin-top: 32px;
	margin-bottom: 0;
	
}
.reason-text.bottom-text .offer{
	font-style: italic;
	font-size: 14px;
	margin-bottom: 40px;
	margin-top: 9px;
}
.reason-t1 .reason-img{
	margin-right: -35px;
}
.reason-btn{
	position: relative;
	text-decoration: none;
	display: block;
	font-size: 15px;
	color: #04a1d4;
	padding: 18px 30px 16px 22px;
	margin-top: -5px;
	border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0px 2px 6px 0 rgba(84, 84, 84, 0.3);
	font-weight: bold;
	z-index: 10;
/*
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
*/
}


.reason-t2 .reason-part1{
	padding-left: 30px;
}
.reason-t3 .reason-part1{
	padding-right: 30px;
}

.reason-t2 .reason-part1,
.reason-t2 .reason-part2,
.reason-t3 .reason-part1,
.reason-t3 .reason-part2
{
	background-color: #f5f7f9;
	margin-top: 0;
	overflow: hidden;
	padding-bottom: 5px;
}
.reason-t2,
.reason-t3{
	background-color: #f5f7f9;
}
.reason-t2 .reason-btn{
	box-shadow: none;
	background-color: rgba(0,0,0,0);
	padding-left: 0;
	margin-left: 0;
	margin-bottom: 30px;
}
.reason-t2 .slideButton{
	padding-right: 35px;
	padding-left: 35px;
	font-size: 16px;
}

.reason-t2 .reason-img{
	margin-right: auto;
	margin-left: 0;
}
.reason-t2 .reason-text{
	margin-top: 70px;
	margin-right: 85px;
	margin-left: auto;
}
.reason-t3 .reason-text{
	margin-top: 80px;
	margin-right: auto;
	margin-left: 87px;
}
.reason-t3 .reason-text .last-item{
	margin-top: 20px;
	margin-bottom: 35px;
}
.reason-t3 .reason-text .h3{
	margin-bottom: 33px;
}
.reason-t3 .reason-text .reason-btn{
	max-width: 482px;
}
.reason-t4{
	max-width: 795px;
	margin: 0 auto;
	padding-top: 77px;
	padding-bottom: 100px;
	padding-left: 30px;
	padding-right: 30px;
}

.reason-t4 .reason-text{
	text-align: center;
	margin: 0 auto;
	max-width: 100%;
}
.reason-t4 .reason-text p{
	line-height: 2;
	margin: 5px;
}
.reason-t4 .reason-text .h3{
	margin-bottom: 37px;
}

.reason-t6{
	background-color: #f5f7f9;
	background-image: url('../images/reason6bg.png');
	-webkit-background-size: cover;
	background-size: 100%;
	background-position: top;
	padding-top: 65px;
	padding-bottom: 100px;
	padding-right: 30px;
	padding-left: 30px;
}
.reason-t6 .reason-text .last-item{
	margin-top: 20px;
	margin-bottom: 35px;
}
.reason-t6 .reason-img{
	margin-right: auto;
	margin-left: 0;
}
.reason-t6 .reason-text{
	margin-right: 15px;
	margin-left: auto;
	max-width: 640px;
}
.reason-t6 .reason-btn{
	max-width: 485px;
}
.reason-t6 .reason-text .h3{
	margin-bottom: 30px;
}
.reason-t6 .reason-img{
	display: block;
	margin-left: 8%;
	margin-right: auto;
	margin-top: 11%;
	max-width: 70%;
}
.macscreen{
	position: relative;
	margin-top: 30px;
}
.macscreen-img{
	position: relative;
	display: block;
	width: 100%;
	max-width: 795px;
	margin: 0 auto;
	z-index: 10;
}
.macscreen-screen{
	position: absolute;
	display: block;
	width: 75.7%;
	max-width: 608px;
	right: 0;
	left: 0;
	top: 5.9%;
	margin: 0 auto;
	z-index: 20;
}
.macscreen-link{
	position: absolute;
	right: 1%;
	top: 15%;
	background-color: #fff;
	box-shadow: 0px 5px 13px 0 rgba(84, 84, 84, 0.23);
	border: 1px solid #9ec0e4;
	border-radius: 60%;
	width: 145px;
	height: 145px;
	text-align: center;
	z-index: 100;
	color: #04a1d4;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	padding: 45px 10px;
}

.reason-t5{
	position: relative;
	width: 100%;
	margin: 0 auto;
	background-image: url('../images/reason5.jpg');
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-top: 80px;
	padding-bottom: 105px;
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;
}
.reason-t5:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .66);
  z-index: 1;
}
.reason-t5 .reason-text{
	position: relative;
	text-align: center;
	margin: 0 auto;
	z-index: 10;
	color: #fff;
	width: 100%;
	max-width: 804px;
	padding-bottom: 1%;
}
.reason-t5 .reason-text .h3{
	color: #fff;
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 35px;
}
.reason-t5 .reason-text p{
	font-size: 16px;
	line-height: 1.88;
}
.reason-t5 .reason-box .reason-btn {
	margin-top: 13px;
	padding-bottom: 15px;
	padding-top: 15px;
}
.reason-t5 .reason-box .reason-btn:first-child {
	margin-top: 43px;
}
.reason-box{
	text-align: left;
}
.reason-box .reason-btn {
	max-width: 775px;
	margin: 0 auto;
	margin-top: 15px;
	font-size: 15px;
	font-weight: bold;
}
.btn-star{
	width: 11px;
	padding-bottom: 4px;
	padding-right: 3px;
	box-sizing: content-box;
}
.btn-star:last-child{
	
	
}
.btn-facebook{
	width: 10px;
	padding-right: 8px;
	padding-left: 3px;
	box-sizing: content-box
}
.btn-google{
	width: 23px;
}
.btn-bbb{
	width: 100px;
	vertical-align: bottom;
}

.reason-btn.bbb{
	padding-top: 12px;
	padding-bottom: 12px;
	min-height: 63px;
	
}
.reason-btn.bbb span{
	display: inline-block;
}
.reason-btn span{
	padding-left: 16px;
}
.reason-t5 .slideButton{
	position: relative;
	margin: 0 auto;
	z-index: 10;
}
.s-reason2 .reason-t3 .reason-part1{
	background-color: #00afe8;
}
.s-reason2 .reason-t3 {
	background-color: #00afe8;
}
.s-reason2 .reason-t3 .reason-text{
	color: #fff;
}
.s-reason2 .reason-t2 .reason-text p{
	line-height:1.9;
}
.s-reason2 .reason-t2 .reason-text .last-item{
	margin-bottom: 35px;
}
.s-reason2 .reason-t3 .reason-btn{
	padding-top: 12px;
	padding-bottom: 15px;
	border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0px 2px 6px 0 rgba(84, 84, 84, 0.3);
}
.s-reason2 .reason-t2 .reason-btn{
	padding-left: 22px;
	padding-top: 12px;
	padding-bottom: 15px;
	border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0px 2px 6px 0 rgba(84, 84, 84, 0.3);
}
.s-reason2 .reason-t3 .h3{
	color: #fff;
	margin-bottom: 22px;
}
.s-reason2 ul{
	padding-left: 20px;
	padding-bottom: 16px;
}
.s-reason2 li{
	position: relative;
	padding-bottom: 6px;
}
.s-reason2 li:before{
	position: absolute;
	content: "•";
	font-size: 22px;
  color: #e9a700;
	bottom: 1px;
	left: -20px;
}

.s-reason3{
	padding-top: 67px;
	padding-bottom: 70px;
}
.s-reason3 .reason-t3{
	background-color: #fff;
}
.s-reason3 .reason-img{
	max-width: 64%;
	margin-left: auto;
	margin-right: 8%;
}
.s-reason3 .reason-t3 .reason-part1, .s-reason3 .reason-t3 .reason-part2{
	background-color: #fff;
}
.s-reason3 .reason-t3 .reason-text .h3{
	margin-bottom: 25px;
}
.s-reason3 .reason-t3 .reason-text p{
	margin-bottom: 35px;
}

.s-reason5{
	text-align: center;
	padding-top: 84px;
	padding-bottom: 100px;
	background-color: #f5f7f9;
}
.s-reason5 .reason-text{
	width: 100%;
	max-width: 875px;
	margin: 0 auto;
}
.s-reason5 .slideButton{
	max-width: 222px;
	display: block;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
}
.s-reason5 .reason-text .h3{
	font-size: 30px;
	margin-bottom: 60px;
}
.s-reason5 .reason-text p{
	font-size: 16px;
}
.s-reason5 .reason-text p.last-item{
	margin-bottom: 30px;
}
.s-reason5 .reason-text .reason-btn{
	width: 100%;
	max-width: 455px;
	margin: 0 auto;
	text-align: center;
	padding: 15px 6px;
	max-width: 445px;
}
.s-reason5 .bottom-text .price{
	color: #0189c5;
}
.s-reason5 .bottom-text .offer{
	color: #5c5c5c;
	margin-bottom: 35px;
}
footer {
	margin-top: 0px;
}
@media screen and (max-width: 1300px) and (min-width: 994px) {
	.reason-t2 .reason-img.shift-img{
		margin-left: -150px;
	}
}
@media screen and (max-width: 1600px) {

	.s-reason3 .reason-t3 .reason-img{
		max-width: 588px;
	}
	.reason-t6 .reason-img{
		width: 90%;
		max-width: 542px;
	}
	.reason-t2 .reason-img, .reason-t3 .reason-img{
		width: auto;
		max-width: none;
		min-height: 100%;
	}
	.reason-t2 .reason-text, .reason-t3 .reason-text{
		margin-top: 25px;
	}
	.reason-text{
		padding-bottom: 10px;
	}
	.s-reason2 .reason-t3 .reason-text{
		margin-left: 50px;
	}
	.reason-t2 .reason-text{
		margin-right: 30px;
	}
	.s-reason2 .reason-t2 .reason-text .last-item{
		margin-bottom: 25px;
	}
	.s-reason3 .reason-t3 .reason-img{
		width: 100%;
	}
}
@media screen and (max-width: 992px) {
	.reason-btn.bbb span{
		padding-top: 10px;
	}
	.reason-t2 .reason-btn{
		padding-right: 0;
	}
	.reason-t2 .reason-text {
		text-align: center;
		margin: 0 auto;
		display: block;
	}
	.reason-t1{
		margin-bottom: 30px;
	}
	.reason-t1 .reason-img{
		width: 100%;
		max-width: 500px;
		margin: 0 auto;
		display: block;
	}
	.reason-t1 .reason-text, .reason-t2 .reason-text, .reason-t3 .reason-text{
		width: 100%;
		max-width: 100%;
		margin-left: 0px;
		padding-bottom: 50px;
		padding-top: 20px;
	}
	.reason-t2 .reason-part1, .reason-t3 .reason-part1{
		padding-right: 30px;
		padding-left: 30px;
	}
	.reason-t6{
		padding-right: 30px;
		padding-left: 30px;
	}
	.reason-t6 .reason-btn{
		max-width: 100%;
	}
	.reason-t6 .reason-text{
		margin-right: 0;
		margin-left: 0;
		max-width: 100%;
	}
	.reason-t6 .reason-img{
		margin: 0 auto;
		margin-top: 40px;
	}
	
	.reason-t2 .reason-img, .reason-t3 .reason-img{
		width: 100%;
		min-height: 0;
	}
	.reason-t2 .reason-part2, .reason-t3 .reason-part2{
		min-width: 100%;
		max-height: 500px;
	}
	
	
	.reason-t3 .w3-row{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		flex-wrap: wrap
	}
	.reason-t3 .w3-row .reason-part2{
		order: 1;
	}
	.s-reason3 .reason-t3 .reason-img{
		width: 50%;
		height: auto;
		margin: 0 auto;
	}
	.s-reason3, .s-reason5{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.s-reason5 .reason-t3 .reason-text,
	.s-reason3 .reason-t3 .reason-text
	{
		padding-bottom: 0;
		padding-top: 0;
		margin-top: 0;
	}
	.s-reason5 .reason-t3 .reason-text .h3,
	.s-reason3 .reason-t3 .reason-text .h3
	{
		margin-bottom: 30px;
	}
	.s-reason5 .bottom-text .price{
		margin-top: 50px;
	}
	.s-reason2 .reason-t3 .reason-text{
		margin-left: 0;
	}
	.reason-t3 .reason-text .reason-btn{
		margin-bottom: 30px;
	}
	.reason-btn{
		text-align: center;
	}
}
@media screen and (max-width: 500px) {
	.reason-btn span{
		display: block;
		width: 100%;
	}
	.reason-t5 .reason-box .reason-btn img{
		padding-bottom: 10px;
	}
	.headSlides .h1{
		font-size: 25px;
	}
	.headSlides p{
		font-size: 16px;
		margin-bottom: 30px;
	}
	.headSlides p:after{
		display: none;
	}
	.mSlider{
		padding-top: 20px;
		padding-bottom: 40px;
	}
	.headSlides{
		padding-top: 0;
	}
	.reason-t4{
		padding-right: 50px;
		padding-left: 50px;
	}
	.macscreen-link{
		width: 100px;
		height: 100px;
		top: -40px;
		font-size: 12px;
		padding: 30px 10px;
	}
}
@media screen and (max-width: 1024px) {
		.slider-bg.slider-bg-1{
		background-image: url(../images/slide-1-lg.jpg);
	}
	.slider-bg.slider-bg-2{
		background-image: url(../images/slide-2-lg.jpg);
	}
	.slider-bg.slider-bg-3{
		background-image: url(../images/slide-3-lg.jpg);
	}
}
@media screen and (max-width: 770px) {
	.slider-bg.slider-bg-1{
		background-image: url(../images/slide-1-mid.jpg);
	}
	.slider-bg.slider-bg-2{
		background-image: url(../images/slide-2-mid.jpg);
	}
	.slider-bg.slider-bg-3{
		background-image: url(../images/slide-3-mid.jpg);
	}
}
/*
@media screen and (max-width: 415px) {
	.bgWrap{
		display: none;
	}
*/
}
