@font-face {
  font-family: "HelveticaRegular";
  src: url("../fonts/HelveticaRegular/HelveticaRegular.eot");
  src: url("../fonts/HelveticaRegular/HelveticaRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"), url("../fonts/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "HelveticaBold";
  src: url("../fonts/HelveticaBold/HelveticaBold.eot");
  src: url("../fonts/HelveticaBold/HelveticaBold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaBold/HelveticaBold.woff") format("woff"), url("../fonts/HelveticaBold/HelveticaBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "HelveticaItalic";
  src: url("../fonts/HelveticaItalic/HelveticaItalic.eot");
  src: url("../fonts/HelveticaItalic/HelveticaItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaItalic/HelveticaItalic.woff") format("woff"), url("../fonts/HelveticaItalic/HelveticaItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "HelveticaLight";
  src: url("../fonts/HelveticaLight/HelveticaLight.eot");
  src: url("../fonts/HelveticaLight/HelveticaLight.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaLight/HelveticaLight.woff") format("woff"), url("../fonts/HelveticaLight/HelveticaLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "HelveticaBlack";
  src: url("../fonts/HelveticaBlack/HelveticaBlack.eot");
  src: url("../fonts/HelveticaBlack/HelveticaBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaBlack/HelveticaBlack.woff") format("woff"), url("../fonts/HelveticaBlack/HelveticaBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "HelveticaHeavy";
  src: url("../fonts/HelveticaHeavy/HelveticaHeavy.eot");
  src: url("../fonts/HelveticaHeavy/HelveticaHeavy.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaHeavy/HelveticaHeavy.woff") format("woff"), url("../fonts/HelveticaHeavy/HelveticaHeavy.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "HelveticaMedium";
  src: url("../fonts/HelveticaMedium/HelveticaMedium.eot");
  src: url("../fonts/HelveticaMedium/HelveticaMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaMedium/HelveticaMedium.woff") format("woff"), url("../fonts/HelveticaMedium/HelveticaMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "HelveticaThin";
  src: url("../fonts/HelveticaThin/HelveticaThin.eot");
  src: url("../fonts/HelveticaThin/HelveticaThin.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaThin/HelveticaThin.woff") format("woff"), url("../fonts/HelveticaThin/HelveticaThin.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "HelveticaUltraLight";
  src: url("../fonts/HelveticaUltraLight/HelveticaUltraLight.eot");
  src: url("../fonts/HelveticaUltraLight/HelveticaUltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaUltraLight/HelveticaUltraLight.woff") format("woff"), url("../fonts/HelveticaUltraLight/HelveticaUltraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "HelveticaBoldItalic";
  src: url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.eot");
  src: url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.woff") format("woff"), url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "HelveticaBlackItalic";
  src: url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.eot");
  src: url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.woff") format("woff"), url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "HelveticaLightItalic";
  src: url("../fonts/HelveticaLightItalic/HelveticaLightItalic.eot");
  src: url("../fonts/HelveticaLightItalic/HelveticaLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaLightItalic/HelveticaLightItalic.woff") format("woff"), url("../fonts/HelveticaLightItalic/HelveticaLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "HelveticaMediumItalic";
  src: url("../fonts/HelveticaMediumItalic/HelveticaMediumItalic.eot");
  src: url("../fonts/HelveticaMediumItalic/HelveticaMediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaMediumItalic/HelveticaMediumItalic.woff") format("woff"), url("../fonts/HelveticaMediumItalic/HelveticaMediumItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "HelveticaHeavyItalic";
  src: url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.eot");
  src: url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.woff") format("woff"), url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "HelveticaThinItalic";
  src: url("../fonts/HelveticaThinItalic/HelveticaThinItalic.eot");
  src: url("../fonts/HelveticaThinItalic/HelveticaThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaThinItalic/HelveticaThinItalic.woff") format("woff"), url("../fonts/HelveticaThinItalic/HelveticaThinItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "HelveticaUltraLightItalic";
  src: url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.eot");
  src: url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.woff") format("woff"), url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

body {
  height: 1000px;
  background-color: #a7a7a7; }

.rewiev-popup {
  position: absolute;
  margin: 5% auto;
  left: 0;
  right: 0;
  width: 774px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  padding-bottom: 30px; }
  .rewiev-popup .popup-head {
    background-color: #00233a;
    position: relative;
    padding: 17.5px 0;
    -webkit-border-radius: 4px 4px 0 0;
            border-radius: 4px 4px 0 0; }
    .rewiev-popup .popup-head .logo {
      display: block;
      width: 252px;
      height: auto;
      margin: 0 auto; }
    .rewiev-popup .popup-head .close-btn {
      position: absolute;
      width: 31px;
      height: auto;
      top: -webkit-calc(50% - 15px);
      top: calc(50% - 15px);
      right: 26px;
      cursor: pointer; }
      .rewiev-popup .popup-head .close-btn img {
        width: 100%;
        height: auto; }
  .rewiev-popup .popup-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 30px;
    margin-right: 83px;
    margin-left: 57px;
    margin-bottom: 10px; }
    .rewiev-popup .popup-content .img-wrap {
      padding-right: 30px;
      padding-top: 43px; }
      .rewiev-popup .popup-content .img-wrap .image {
        width: 210px;
        height: auto; }
    .rewiev-popup .popup-content .text-wrap {
      width: 100%; }
      .rewiev-popup .popup-content .text-wrap .title {
        width: 100%;
        margin-top: 0;
        margin-bottom: 27px;
        font-family: Helvetica;
        font-size: 24px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #63636d; }
      .rewiev-popup .popup-content .text-wrap .text {
        width: 100%;
        margin-top: 0;
        margin-bottom: 27px;
        font-family: Helvetica;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.38;
        letter-spacing: normal;
        text-align: left;
        color: #63636d; }
  .rewiev-popup .popup-form {
    margin-right: 83px;
    margin-left: 83px; }
    .rewiev-popup .popup-form .form-field {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; }
      .rewiev-popup .popup-form .form-field .form-input {
        padding: 10px 0 10px 14px;
        margin-right: 28px;
        border: solid 1px #63636d;
        width: 100%;
        font-family: Helvetica;
        font-size: 18px;
        color: #63636d;
        -webkit-appearance: none;
        -webkit-border-radius: 0; }
        .rewiev-popup .popup-form .form-field .form-input::-webkit-input-placeholder {
          opacity: 0.38;
          font-family: Helvetica;
          font-size: 18px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: #63636d;
          text-transform: uppercase; }
        .rewiev-popup .popup-form .form-field .form-input::-moz-placeholder {
          opacity: 0.38;
          font-family: Helvetica;
          font-size: 18px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: #63636d;
          text-transform: uppercase; }
        .rewiev-popup .popup-form .form-field .form-input:-ms-input-placeholder {
          opacity: 0.38;
          font-family: Helvetica;
          font-size: 18px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: #63636d;
          text-transform: uppercase; }
        .rewiev-popup .popup-form .form-field .form-input::placeholder {
          opacity: 0.38;
          font-family: Helvetica;
          font-size: 18px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: #63636d;
          text-transform: uppercase; }
        .rewiev-popup .popup-form .form-field .form-input:last-child {
          margin-right: 0; }
    .rewiev-popup .popup-form .form-buttons {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; }
      .rewiev-popup .popup-form .form-buttons .button {
        cursor: pointer;
        width: 100%;
        height: 42px;
        margin-right: 28px;
        margin-top: 25px;
        background-color: #63636d;
        border: none;
        color: #ffffff;
        font-family: Helvetica;
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        outline: none;
        text-transform: uppercase; }
        .rewiev-popup .popup-form .form-buttons .button:last-child {
          margin-right: 0; }
        .rewiev-popup .popup-form .form-buttons .button-nein {
          -webkit-appearance: none;
          -webkit-border-radius: 0; }
  .rewiev-popup .link {
    display: block;
    width: 70%;
    margin: 0 auto;
    margin-top: 26px;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: center;
    color: #014c8c;
    text-decoration: none;
    text-align: center; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
/**/
/* Medium Devices, Desktops */
@media only screen and (max-width: 800px) {
  .rewiev-popup {
    margin-right: 15px;
    margin-left: 15px;
    max-width: 774px;
    width: auto; } }

/**/
/* Small Devices, Tablets */
@media only screen and (max-width: 700px) {
  .rewiev-popup {
    position: absolute;
    margin-top: 100px;
    margin-right: 15px;
    margin-left: 15px; }
    .rewiev-popup .popup-head .close-btn {
      left: -webkit-calc(50% - 15px);
      left: calc(50% - 15px);
      top: -50px; }
    .rewiev-popup .popup-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-right: 15px;
      margin-left: 15px;
      margin-top: 40px; }
      .rewiev-popup .popup-content .img-wrap {
        padding: 0;
        margin-bottom: 50px; }
      .rewiev-popup .popup-content .text-wrap .title {
        text-align: center; }
      .rewiev-popup .popup-content .text-wrap .text {
        text-align: center; }
    .rewiev-popup .popup-form {
      margin: 0 15px; }
      .rewiev-popup .popup-form .form-field {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; }
        .rewiev-popup .popup-form .form-field .form-input {
          margin-right: 0;
          width: auto;
          margin-bottom: 16px; }
          .rewiev-popup .popup-form .form-field .form-input:last-child {
            margin-bottom: 0px; }
      .rewiev-popup .popup-form .form-buttons {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; }
        .rewiev-popup .popup-form .form-buttons .button {
          margin-right: 0; }
          .rewiev-popup .popup-form .form-buttons .button-nein {
            margin-top: 17px; } }

/**/
/* Extra Small Devices, Phones */
/**/
/* Custom, iPhone Retina */
/**/
