@font-face {
	font-family: 'Blender';
	src: url('../fonts/blender/Blender-Thin.woff');
	font-weight: 100;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: 'Blender';
	src: url('../fonts/blender/Blender-Book.woff');
	font-weight: 400;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: 'Blender';
	src: url('../fonts/blender/Blender-Medium.woff');
	font-weight: 500;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: 'Blender';
	src: url('../fonts/blender/Blender-Heavy.woff');
	font-weight: 700;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}