@import "vars";


/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
	
	.navigation{
		&__item{
		margin-left: 10px;
		}
	}
}

// ≥992px
@include media-breakpoint-down(md) {
	.s-header{
		background-image: url(../img/header-md.jpg);
	}

	.search{
		max-width: 100%;
		&__input{
		display: inline-block;
		width: 87%;
	}
		&__btn{
			display: inline-block;
			margin-right: 0;
			margin-left: auto;
			width: 13%;
		}
	}
	.navigation{
		&__menu{
			border-top: 2px solid $dark-grey;
		}
		&__collapse{
			padding-top: 30px;
		}
		&__item{
			margin: 10px 2px;
				&:hover{
					.navigation__link::before{
						background-color: rgba($red,0);
					}
				}
			}
		}
	
	.field{
		margin-top: 10px;
		.btn__red{
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
	}
	.calc{
		&__wrap{
			margin-bottom: 40px;
		}
	}
	.baner{
		&__h{
			font-size: 5rem;
			width: 80%;
		}
	}
	.section{
		&__h2{
			font-size: 1.5rem;
		}
		&__h1{
			font-size: 3.8rem;
		}
	}
	.card{
		&__row{
			min-height: 550px;
		}
	}
	.carousel{
		&__title{
			width: 70%;
			max-width: 70%;	
		}
		&__address{
			font-size: 1rem;
		}
		&__name{
			font-size: 2.5rem;
		}
	}
	.price{
		&__ul{
		margin-right: 0px;
		}
	}
}



// ≥768px
@include media-breakpoint-down(sm) {
	.search{
		margin-top: 30px;
		max-width: 100%;
	}
	.baner{
		&__h{
			font-size: 4rem;
			width: 90%;
		}
	}
	.available{
		&__h{
			font-size: 2.3rem;
			text-align: center;
		}
		&__logo{
		margin-top: 20px;
		justify-content: center;
		}
	}
	.section{
		&__h2{
			font-size: 1.6rem;
		}
		&__h1{
			font-size: 3.1rem;
		}
	}
	.s-how{
		background-image: url(../img/how-work-bg-vertical.jpg);
		padding-top: 70px;
		padding-bottom: 70px;
		background-position: 50% 50%;
		background-size: auto;
	}
	.s-what{
		padding-top: 70px;
		padding-bottom: 70px;
	}
	.item{
		&__name{
			font-size: 1.2rem;
			font-weight: 600;
			padding: 15px 5px;
		}
		&__description{
			padding-top: 20px;
			padding-left: 10px;
		}
		&__h2{
			font-size: 1.5rem;
		}
		&__h1{
			font-size: 2rem;
		}
		&__p{
			margin-bottom: 5px;
		}
	}	
}

// ≥576px
@include media-breakpoint-down(xs) {
	.s-header{
		background-image: url(../img/header-xs.jpg);
		background-position: 50% bottom;
	}

	.logo{
		&__link{
			display: block;
		}
		&__img{
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.baner{
		&__h{
			font-size: 3.5rem;
			width: 90%;
		}
	}
	.available{
		&__h{
			font-size: 1.7rem;
		}
	}
	.section{
		&__h2{
			font-size: 1.5rem;
		}
		&__h1{
			font-size: 2.9rem;
		}
	}
	.item{
		&__name{
			font-size: 1.15rem;
			font-weight: 600;
			padding: 15px 5px;
		}
		&__h2{
			font-size: 1.4rem;
		}
		&__h1{
			font-size: 1.8rem;
		}
	}
	.carousel{
		&__address{
			font-size: 0.9rem;
		}
		&__name{
			font-size: 1.9rem;
		}
	}
	.owl{
		&__item{
				margin-right: 70px;
				margin-left: 70px;
			}
		&-nav{
			margin-top: 30px;
			justify-content: center;
			display: flex;
		}
		&-prev{
			left: -20px;
			top: 20px;
			position: relative;
		}
		&-next{
			position: relative;
			right: -20px;
			top: 20px;
		}
	}
	.padding-none{
		padding-left: 15px;
		padding-right: 15px;
	}
	.footer{
	&__content{
		padding-left: 10%;
		padding-right: 10%;
	}
		&__text{
			text-align: center;
		}
	}
}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {

}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {

}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}
