@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $green;
	color: $white;
}


::-webkit-scrollbar-button {
	background-image: url('');
	background-repeat: no-repeat;
	width: 6px;
	height: 0px
}

::-webkit-scrollbar-track {
	background-color: $grey;
	box-shadow: 0px 0px 3px #000 inset;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 5px;
	border-radius: 5px; 
	background-color: $red;
	box-shadow: 0px 1px 1px #6d3939 inset;
	background-image: url('../img/slider.png');
	background-position: center;
	background-repeat: no-repeat;
}

::-webkit-resizer {
	background-image: url('');
	background-repeat: no-repeat;
	width: 7px;
	height: 0px
}

::-webkit-scrollbar {
	width: 11px;
}


html {
	font-size: 14px !important;
}

body {
	font-size: 14px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $grey;
	input,
	textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

a {
	text-decoration: none;
	
	&:hover{
		color: $green;
	}
	transition: color 0.3s ease;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b,
strong {
	font-weight: bold;
}

a,
button,
input {
	&:active,
	&:focus {
		outline: none !important;
		box-shadow: none;

	}
}

.btn {
	&__main {
		padding: 17px 30px;
		font-family: montserrat;
		font-size: 1rem;
		font-weight: 700;
		line-height: 24px;
		text-transform: uppercase;
		color: $white;
		text-decoration: underline;
		max-width: 210px;
		&:hover {
			text-decoration: none;
			color: $white;
		}
		&:active,
		&:focus {
			outline: none !important;
			box-shadow: none;
		}
	}
	&__green {
		background-color: $green;
		display: block;
		margin-right: 0;
		margin-left: auto;
	}
	&__red {
		background-color: $red;
		text-decoration: none;
		margin-top: 20px;
		&:hover {
			background-color: $green;
			color: $white;
			transition: background-color .4s;
		}
	}
}

.top-bar {
	margin-bottom: 50px;
}

.padding-none {
	padding: 0px;
}

.section {
	&__h2 {
		color: $green;
		font-size: 1.7rem;
		font-weight: 500;
		line-height: 1.1;
		font-family: montserrat;
		text-transform: capitalize;
		padding-bottom: 5px;
		text-align: center;
	}
	&__h1 {
		color: $grey;
		font-size: 4.2rem;
		font-weight: 700;
		line-height: 1.2;
		font-family: montserrat;
		text-transform: capitalize;
		padding-bottom: 25px;
		text-align: center;
	}

}

// Section HEADER 
.s-header {
	padding-top: 45px;
	background-image: url(../img/header.jpg);
	background-position: left bottom;
	background-size: cover;
	background-repeat: no-repeat;
}

.logo__link {
	margin: 0;
	display: block;

}

.search {
	border: 2px solid $light-grey;
	max-width: 390px;
	&__input {
		border: none;
		&:active,
		&:focus {
			outline: none !important;
			box-shadow: none;
		}
	}
	&__btn {
		border: none;
		background-color: $white;
		display: block;
		margin-right: 0;
		margin-left: auto;

	}
	&__i {
		color: $red;
		font-size: 1.4rem;
		padding-top: 2px;
	}
}

.nav-wrap {
	background-color: $grey;
}

.navigation {

	padding: 15px 0px;
	&__toggler {
		border-color: $dark-grey !important;
	}
	&__icon {
		display: block;
		width: 25px;
		height: 2px;
		border-radius: 1px;
		background-color: $white;
		margin: 7px 0px;
	}
	&__main {
		padding: 12px 0px;
	}
	.active {
		.navigation__link {
			color: $red !important;
		}
	}
	&__link {
		text-transform: uppercase;
		color: $white !important;
		font-weight: 600;
		line-height: 20px;
		font-size: 1rem;
		&:before {
			content: '';
			position: absolute;
			height: 3px;
			width: 100%;
			background-color: rgba(0, 0, 0, 0);
			bottom: -30px;
			left: 0;
		}
		&-drop {
			text-transform: uppercase;
			color: #000 !important;
			font-weight: 600;
			line-height: 20px;
			font-size: 1rem;
			margin: 15px 0px;
		}
	}
	&__item {
		margin-left: 20px;
		position: relative;
		&:hover {
			.navigation__link::before {
				background-color: rgba($red, 1);
			}
		}
		&-drop {
			top: 60px;
		}
	}
}

.range {
	display: flex;
	justify-content: flex-end;
	&__block {
		padding-right: 45px;
		position: relative;
		&-red {
			&::after {
				content: '';
				position: absolute;
				border: 7px solid transparent;
				border-top: 7px solid $red;
				right: 15px;
				bottom: 5px;
			}
		}
		&-green {
			&::after {
				content: '';
				position: absolute;
				border: 7px solid transparent;
				border-bottom: 7px solid $green;
				right: 15px;
				bottom: 12px;
			}
		}
	}
	&__type {
		font-family: montserrat;
		font-size: 1rem;
		font-weight: 300;
		line-height: 24px;
		color: $white;
		text-align: left;
		margin-bottom: 5px;
	}
	&__number {
		font-family: montserrat;
		font-size: 1.7rem;
		font-weight: 700;
		line-height: 1.1;
		color: $white;
		text-align: left;
		margin-bottom: 5px;
	}

}

.baner {
	padding-top: 150px;
	padding-bottom: 150px;
	&__h {
		font-family: montserrat;
		font-size: 6rem;
		font-weight: 700;
		line-height: 1.1;
		color: $grey;
		margin-bottom: 60px;
		width: 75%;
	}
}



// Section AVAILABLE
.s-available {
	background-color: $red;
	padding-top: 50px;
	padding-bottom: 50px;
}

.available {
	&__h {
		font-family: montserrat;
		font-size: 2.5rem;
		font-weight: 700;
		line-height: 1.1;
		color: $white;
		text-align: left;
	}
	&__logo {
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap;
	}
	&__icon {
		margin-bottom: 5px;
		margin-left: 5px;
	}
}



// Section WHAT
.s-what {
	padding-top: 100px;
	padding-bottom: 100px;
}

.item {
	&__list {
		.active {
			background-color: $white !important;
			border: none;
			box-shadow: 0px 4px 3px $light-grey;
			color: $grey;
		}
	}
	&__name {
		font-size: 1.5rem;
		font-family: montserrat;
		font-weight: 600;
		line-height: 1.1;
		padding: 25px 10px;
		border: none;
		border-bottom: 2px solid $light-grey;
		color: $grey;
		&:last-child{
			border-bottom: none;
		}
	}
	&__description {
		padding-top: 20px;
		padding-left: 30px;
	}
	&__h2 {
		color: $green;
		font-size: 1.9rem;
		font-weight: 500;
		line-height: 1.1;
		font-family: montserrat;
		text-transform: capitalize;
		padding-bottom: 5px;
	}
	&__h1 {
		color: $grey;
		font-size: 2.7rem;
		font-weight: 700;
		line-height: 1.2;
		font-family: montserrat;
		text-transform: capitalize;
		padding-bottom: 25px;
	}
	&__p {
		color: $grey;
		font-size: 1rem;
		font-weight: 400;
		line-height: 24px;
		font-family: montserrat;
	}
	&__ul {
		padding-left: 0px;
	}
	&__li {
		list-style-type: none;
		position: relative;
		margin-left: 25px;
		&::before {
			content: '\f00c';
			color: $green;
			position: absolute;
			font-family: fontawesome;
			left: -25px;
		}
	}
}



// Section HOW
.s-how {
	background-image: url(../img/how-work-bg.jpg);
	background-repeat: no-repeat;
	background-size: auto;
	padding-top: 100px;
	padding-bottom: 100px;
	background-position: center top;
	background-color: $light-grey;
}

.card {
	&__row {
		padding-top: 20px;
		min-height: 450px;
	}
	&__i {
		font-size: 5rem;
		background-color: $light-grey;
		border-radius: 50%;
		padding: 30px;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
		display: block;
		width: 200px;
		height: 200px;
		line-height: 130px;
		margin-bottom: 30px;
		&-red {
			color: $red;
		}
		&-green {
			color: $green;
		}
		&-grey {
			color: $grey;
		}
	}
	&__h3 {
		color: $grey;
		font-size: 1.7rem;
		font-weight: 600;
		line-height: 1.1;
		font-family: montserrat;
		text-transform: capitalize;
		padding-bottom: 20px;
		text-align: center;
	}
	&__p {
		color: $grey;
		font-size: 1rem;
		font-weight: 400;
		line-height: 24px;
		font-family: montserrat;
		text-align: center;
	}
}




// Section CALCULATOR
.s-calculator {
	padding-top: 100px;
	padding-bottom: 100px;
}

.field {
	margin-top: 40px;
	&__form {
		display: flex;
	}
	&__p {
		color: $grey;
		font-size: 1rem;
		font-weight: 400;
		line-height: 24px;
		font-family: montserrat;
		text-align: center;
	}
	&__amount {
		margin-right: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
		border: 1px solid $light-grey;
		margin-top: 20px;
		margin-bottom: 20px;
		&:active,
		&:focus {
			outline: none !important;
			box-shadow: none !important;
			border: 1px solid $light-grey;
		}
	}
	&__type {
		padding-top: 10px;
		padding-bottom: 10px;
		height: auto !important;
		border: 1px solid $light-grey;
		margin-top: 20px;
		margin-bottom: 20px;
		&:active,
		&:focus {
			outline: none !important;
			box-shadow: none !important;
			border: 1px solid $light-grey;
		}
	}
}

.calc {
	&__wrap {
		position: relative;
		background-color: $green;
		margin-top: 20px;
		max-width: 97%;
	}
	&__img {
		width: 100%;
		height: auto;
		margin-left: 20px;
		margin-top: -20px;
		margin-bottom: 20px;
	}
}



// Section TESTIMONIALS
.s-testimonials {
	background-image: url(../img/client-bg.jpg);
}

.carousel {
	&__wrap {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	&__img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		border-radius: 50%;
		&-wrap {
			display: inline-block;
			position: relative;
			&::after {
				content: '\f0e7';
				position: absolute;
				font-family: fontawesome;
				width: 30px;
				height: 30px;
				color: $white;
				padding-top: 5px;
				background-color: $green;
				border-radius: 50%;
				bottom: 40px;
				right: -10px;
			}
		}
	}
	&__slide {
		display: block;
		position: relative;
		left: 0;
		right: 0;
		padding-bottom: 0;
		top: 0;
	}
	&__title {
		text-align: center;
		width: 50%;
		max-width: 50%;
		margin: 0 auto;
	}
	&__control {
		width: 5%;
	}
	&__address {
		color: $white;
		font-size: 1rem;
		font-weight: 600;
		line-height: 24px;
		font-family: montserrat;
		text-align: center;
		text-transform: uppercase;
	}
	&__name {
		color: $white;
		font-size: 3rem;
		font-weight: 600;
		line-height: 1.1;
		font-family: montserrat;
		text-align: center;
	}
	&__text {
		color: $white;
		font-size: 1rem;
		font-weight: 400;
		line-height: 24px;
		font-family: montserrat;
		text-align: center;
	}
}


// Section ACTION
.s-action {
	padding-top: 100px;
	padding-bottom: 100px;
}

.list {
	transform: scale(1);
	transition: all 0.4s ease;
	&:hover {
		transform: scale(1.1);
		transition: all 0.4s ease;
	}
	&__i {
		color: $grey;
		font-size: 5rem;
		display: block;
		text-align: center;
		position: relative;
		display: inline;

		&::after {
			content: '\f00c';
			position: absolute;
			font-family: fontawesome;
			width: 30px;
			height: 30px;
			color: $white;
			padding: 8px;
			background-color: $green;
			border-radius: 50%;
			bottom: -10px;
			right: -10px;
			font-size: 1rem;

		}
		&-wrap {
			display: block;
			text-align: center;
			margin-top: 40px;
		}
	}
	&__h {
		display: block;
		color: $grey;
		font-size: 1.7rem;
		font-weight: 400;
		line-height: 1.1;
		font-family: montserrat;
		text-align: center;
		margin-top: 40px;
	}
	&__p {
		color: $grey;
		font-size: 1rem;
		font-weight: 400;
		line-height: 24px;
		font-family: montserrat;
		text-align: center;
		margin-top: 10px;
	}
}



// Section RECENT
.s-recent {
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: $light-grey;
}

.price {
	&__i {
		font-size: 4rem;
		padding-top: 30px;
		&-red {
			color: $red;
		}
		&-green {
			color: $green;
		}
	}
	&__h {
		color: $grey;
		font-size: 1.7rem;
		font-weight: 700;
		line-height: 1.1;
		font-family: montserrat;
		text-align: left;
		padding-bottom: 15px;
		padding-top: 30px;
	}
	&__p {
		color: $grey;
		font-size: 1rem;
		font-weight: 400;
		line-height: 24px;
		font-family: montserrat;
		text-align: left;
		margin-top: 10px;
	}
	&__ul {
		padding-left: 0;
		margin-right: 25%;
	}
	&__li {
		list-style-type: none;
		color: $grey;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.65;
		font-family: montserrat;
		text-align: left;
		padding-top: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid rgba($grey, 0.5);
		position: relative;
		&-red {
			&::after {
				content: '';
				border: 7px solid transparent;
				border-top: 7px solid $red;
				position: relative;
				top: 12px;
				left: 10px;
			}
		}
		&-green {
			&::after {
				content: '';
				position: absolute;
				border: 7px solid transparent;
				border-bottom: 7px solid $green;
				position: relative;
				bottom: 12px;
				left: 10px;
			}
		}
	}
}


// Section NEWS
.s-news {
	padding-top: 100px;
	padding-bottom: 100px;
}

.news {
	margin-top: 50px;
	&__img {
		width: 100%;
		height: auto;
	}
	&__metrics {
		display: flex;
		justify-content: center;
		margin-top: 10px;
	}
	&__metric {
		display: inline-block;
		margin-left: 10px;
	}
	&__i {
		color: $grey;
		font-size: 1rem;
		text-transform: uppercase;
		&-green {
			color: $green;
		}
		&-red {
			color: $red;
		}
	}
	&__a {
		color: $grey;
		font-size: 1.7rem;
		font-weight: 700;
		line-height: 1.1;
		font-family: montserrat;
		text-align: center;
		padding-top: 10px;
		text-decoration: none;
		display: block;
		&:hover {
			color: $red;
			text-decoration: none;
			transition: color 0.3s;
		}
	}
}


// Section CLIENTS
.s-clients {
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: $light-grey;
}

.owl {
	&__item {
		margin-right: 25px;
		margin-left: 25px;
	}
	&-nav {
		position: relative;
	}
	&-prev {
		height: 60px;
		width: 40px;
		background-color: $grey !important;
		color: $white !important;
		left: -30px;
		top: -60px;
		position: absolute;
		span {
			font-size: 25px;
		}
	}
	&-next {
		height: 60px;
		width: 40px;
		background-color: $grey !important;
		color: $white !important;
		position: absolute;
		right: -30px;
		top: -60px;
		span {
			font-size: 25px;
		}
	}
}

// Section FOOTER
.s-footer {
	padding-top: 70px;
	background-image: url(../img/fbackground.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.footer {
	&__copyright {
		background-color: $dark-grey;
		margin-top: 70px;
	}
	&__text {
		display: block;
		color: $footer-grey;
		font-size: 1rem;
		font-weight: 400;
		line-height: 24px;
		font-family: montserrat;
		text-align: left;
		padding-top: 30px;
		padding-bottom: 30px;
		margin: 0;
		&-white {
			color: $white;
			font-weight: 700;
		}
	}
	&__h {
		color: $white;
		font-size: 2rem;
		font-weight: 400;
		line-height: 1.1;
		font-family: montserrat;
		text-align: left;
		padding-bottom: 15px;
		padding-top: 30px;
		&-chart {
			margin-left: -10px;
		}
	}
	&__ul {
		padding-left: 0px;
	}
	&__li {
		list-style-type: none;
		padding-top: 10px;
		padding-bottom: 10px;
		position: relative;
		&::before {
			content: '';
			border: 7px solid transparent;
			border-left: 7px solid $green;
			position: absolute;
			top: 12px;
			left: 0px;
		}
	}
	&__a {
		color: $footer-grey;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.65;
		font-family: montserrat;
		text-align: left;
		padding-left: 20px;
		&:hover {
			color: $green;
			text-decoration: none;
			transition: all 0.3s;
		}
		&:active,
		&:focus {
			outline: none !important;
			box-shadow: none;
			color: $footer-grey;
		}
	}
	&__contact {
		color: $footer-grey;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.65;
		font-family: montserrat;
		text-align: left;
		&-i {
			color: $green;
			margin-right: 13px;
		}
	}
	&__chart {
		margin-left: -10px;
	}
}

div.btcwdgt {
	margin: 0 !important;
	box-shadow: none !important;
}


/*------ Bit Data -------*/


@import "media"; // Always at the end