body {
	margin: 0;
}
@font-face {
    font-family: "Decalotype-Bold";
    src: url(../fonts/Decalotype-Bold.ttf);
}
@font-face {
    font-family: "Decalotype-Black";
    src: url(../fonts/Decalotype-Black.otf);
}
@font-face {
    font-family: "Decalotype-Regular";
    src: url(../fonts/Decalotype-Regular.ttf);
}
@font-face {
    font-family: "Decalotype-Medium";
    src: url(../fonts/Decalotype-Medium.otf);
}
@font-face {
    font-family: "Decalotype-Light";
    src: url(../fonts/Decalotype-Light.otf);
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.content{
	max-width: 965px;
	margin: 0 auto;
	margin-bottom: 750px;
}
footer .content{
	margin-bottom: 0px;
	max-width: 1200px;
}
.header {
	text-align: center;
	padding-top: 48px;
	padding-bottom: 31px;
}
.header .title{
	font-family: "Decalotype-Black";
	font-size: 50px;
	color: #3593c5;
	max-width: 1100px;
	margin: 0 auto;
	margin-bottom: 5px;
}
.header .subtitle{
	font-family: "Decalotype-Regular";
	font-size: 20px;
	color: #9d9e9e;
}
.options{
	position: relative;
	padding-top: 0px;
	z-index: 10;
}

.point{
	position: absolute;
	width: 39px;
	height: 39px;
	background-color: #f16864;
	font-size: 30px;
	color: #fff;
	text-align: center;
	border-radius: 50%;
	font-family: 'arial', sans-serif;
	z-index: 10;
	opacity: 0;
	cursor: pointer;
}
.options-pt{
	padding-top: 288px;
}
.point-on{
	opacity: 1;
}
.point{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-transition: all 0.1s ease;
	transition: all 0.1s ease;
}
.point-1{
	padding-right: 1px;
	top: 13px;
	left: 0;
	right: 0;
	margin: 0 auto;
	background-image: url(../img/p1.png);
}
.point-2{
	top: 101px;
	left: 12px;
	background-image: url(../img/p2.png);
}
.point-3{
	top: 102px;
	right: 12px;
	background-image: url(../img/p3.png);
}
.point:after{
	position: absolute;
	top: calc(50% - 40px);
	left: calc(50% - 40px);
	margin: 0 auto;
	border-radius: 50%;
	content: '';
	width: 80px;
	height: 80px;
	background-color: #f16864;
	-webkit-animation: scaleout 2.0s infinite ease-in-out;
	animation: scaleout 2.0s infinite ease-in-out;
	display: block;
}
.point-animation.point:after{
	display: none;
}
.stop-point{
	-webkit-animation: none;
	animation: none;
}
.point p{
	margin: 0;
	padding: 4px;
}

.bubble{
	position: absolute;
	max-width: 250px;
	border: 1px solid #f16864;
	border-radius: 10px;
	background-color: #fff;
	z-index: 10;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.bubble.bubble-1{
	left: 60px;
	top: 138px;
	opacity: 0;
}
.bubble.bubble-2{
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 50px;
	opacity: 0;
}
.bubble.bubble-3{
	right: 60px;
	top: 138px;
	opacity: 0;
}
.bubble.buble-on{
	opacity: 1;
	display: block;
}

.bubble:after{
	position: absolute;
	content: url(../img/small-arrow.png);
	z-index: 1;
}
.bubble.bubble-1:after{
	bottom: -34px;
	right: 10px;
	
}
.bubble.bubble-2:after{
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 34px;
	content: url(../img/small-arrow-3.png);
}
.bubble.bubble-3:after{
	bottom: -34px;
	left: 10px;
	content: url(../img/small-arrow-2.png);
}
.bubble .head{
	background-color: #f16864;
	text-align: center;
	border-radius: 8px 8px 0 0;
	padding: 9px 0;
	padding-bottom: 10px;
	margin-bottom: 0px;
}
.bubble .head h2{
	margin: 0;
	font-size: 24px;
	font-family: "Decalotype-bold";
	color: #fff;
	letter-spacing: 2px;
}
.bubble .top-text{
	padding: 10px 15px;
	padding-bottom: 8px;
	border-bottom: 1px solid #f16864;
}
.bubble .top-text p{
	margin: 0;
	font-size: 14px;
	font-family: "Decalotype-bold";
	color: #2d2d2d;
	letter-spacing: 1.5px;
}
.bubble .main-text{
	padding: 0 17px;
	padding-top: 11px;
	
}
.bubble .main-text p{
	margin: 0;
	font-size: 14px;
	font-family: "Decalotype-Regular";
	color: #2d2d2d;
	letter-spacing: 1.5px;
	margin-bottom: 11px;
	
}
.bubble .button{
	height: 30px;
	padding-bottom: 12px;
}
.bubble .btn{
	font-size: 11px;
	font-family: "Decalotype-Regular";
	color: #2d2d2d;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #e1e1e1;
	padding: 5px 11px;
	margin-left: 17px;
	letter-spacing: 1px;
}


.logo-animation{
	top: -1px;
	content: '';
	position: relative;
	width: 100%;
	height: 100%;
	background-image: url(../img/animation.gif);
	background-position: top center;
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
	z-index: 1;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.logo-static{
	top: 63px;
	left: 0;
	right: 0;
	margin: 0 auto;
	max-width: 367px;
	height: 403px;
	background-image: url(../img/alt-animation-2.png);
	background-position: top center;
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	z-index: 100;
}

@-webkit-keyframes scaleout {
  0% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

/*---- Footer  ----*/
footer{
	background-color: #3c84bf;
	width: 100%;
}
footer a{
	text-decoration: none;
}
footer .right-bar{
	float: right;
	width: 30%;
	padding-top: 27px;
}
footer .left-bar{
	padding-top: 27px;
	float: left;
	width: 30%;
}
.footer-logo{
	width: 40%; 
	float: left;
	padding-top: 11px;
}
.footer-logo img{
	display: block;
	width: 52px;
	height: auto;
	margin: 0 auto;
}

footer p{
	font-size: 8px;
	font-family: 'Arial', sans-serif;
	color: #fff;
	display: block;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 15px;
	letter-spacing: 2px;
	
}
footer .l1, footer .l2, footer .r1, footer .r2{
	display: inline-block;
	
}
footer .l1{
	margin-right: 25px;
}
footer .r1{
	margin-right: 25px;
}
footer .r1, footer .r2{
	display: inline-block;
	float: right;
}

footer .l1 img, footer .l2 img, footer .r1 img, footer .r2 img{
	width: 26px;
	height: 26px;
	margin: 0 auto;
	display: block;
}
footer .r2 img{
	margin-right: 40px;
}
/*---- /footer  ----*/


@media screen and (max-width: 1200px){
	footer .content{
	max-width: 90%;
}
	
}
@media screen and (max-width: 986px){

	.bubble{
		max-width: 200px;
	}
	.bubble.bubble-1{
		top: 90px;
		left: 10%;
	}
	.bubble.bubble-3{
		top: 90px;
		right: 10%;
	}
	.bubble.bubble-1:after{
		width: 30px;
		bottom: -34px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	.bubble.bubble-3:after{
		width: 30px;
		bottom: -34px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	.options-pt{
		padding-top: 300px;
	}
 }

	@media screen and (max-width: 818px){
	.bubble{
		position: relative;
		max-width: 90%;
		margin: 0 auto;
	}
	.options{
		
		padding-top: 0px;
	}
	.bubble.bubble-1, .bubble.bubble-2, .bubble.bubble-3{
		left: 0;
		right: 0;
		margin: 0 auto;
		margin-top: 50px;
		margin-bottom: 30px;
		top: 0;
		display: none;
	}
	.bubble.bubble-1:after, .bubble.bubble-2:after, .bubble.bubble-3:after{
		content: url(../img/small-arrow-3.png);
	}
	.bubble.bubble-1:after, .bubble.bubble-3:after{
		bottom: -39px;
	}
	.bubble.bubble-1:after {
		margin-left: 20px;
	}
	.bubble.bubble-3:after {
		margin-right: 20px;
	}
}
.bubble.buble-on{
	opacity: 1;
	display: block;
}
@media screen and (max-width: 425px){
		footer .r2 img{
		margin: 0 auto;
		margin-top: 30px;
	}
	footer .l1, footer .l2, footer .r1, footer .r2{
		display: block;
		float: none;
		margin: 0 auto;
		width: 100%;
	}
	.footer-logo{
		padding-top: 45px;
	}
}